<h1>Account Settings</h1>
<div class="meetme-card page-container">
  <ul class="nave-menu">
    <li><a routerLink="profile" [routerLinkActive]="['is-active']">Profile</a></li>
    <li><a routerLink="link" [routerLinkActive]="['is-active']">Link</a></li>
  </ul>
  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <!-- 
<div class="meetme-card">
  <div class="event-type-container">

      <div class="event-type-menu">
          <a routerLink="info" [routerLinkActive]="['is-active']">Info</a>
          <a routerLink="availability" [routerLinkActive]="['is-active']">Time Availability</a>
          <a routerLink="question" [routerLinkActive]="['is-active']">Questions</a>
      </div>
      <div class="content">
          <router-outlet></router-outlet>
      </div>
  </div>
</div> -->