
<form #formEventInfo="ngForm">
    <div class="form-group">
        <label for="name">Name *</label>
        <div class="form-control">
            <input type="text" #name="ngModel" [(ngModel)]="model.name" id="name" name="name" autocomplete="off"
                required minlength="3" [ngClass]="{ 'is-invalid': submitted && name.errors }">
            <div *ngIf="submitted && name.errors" class="invalid-feedback">
                <div *ngIf="name.errors['required']">Name is required</div>
                <div *ngIf="name.errors['minlength']">Description at-least 3 charecters</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="meetingDuration">Duration:</label>
        <div class="form-control">
            <select id="meetingDuration" name="meetingDuration" [(ngModel)]="model.duration">
                <option [value]="meetingDuration.value" *ngFor="let meetingDuration of meetingDurations">
                    {{meetingDuration.text}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="description">Description *</label>
        <div class="form-control">
            <textarea [ngClass]="{ 'is-invalid': submitted && description.errors }" rows="3" #description="ngModel"
                [(ngModel)]="model.description" id="description" name="description" autocomplete="off" required
                [minlength]="3"></textarea>
            <div *ngIf="submitted && description.errors" class="invalid-feedback">
                <div *ngIf="description.errors['required']">Description is required</div>
                <div *ngIf="description.errors['minlength']">Description at-least 3 charecters</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="slug">Slug *</label>
        <div class="form-control">
            <input type="text" [ngClass]="{ 'is-invalid': submitted && slug.errors }" id="slug" required
                autocomplete="off" [(ngModel)]="model.slug" name="slug" #slug="ngModel" minlength="3">
            <div *ngIf="submitted && slug.errors" class="invalid-feedback">
                <div *ngIf="slug.errors['required']">Slug is required</div>
                <div *ngIf="slug.errors['minlength']">Slug at-least 3 charecters</div>
                <div *ngIf="slug.errors['incorrect']">{{slug.errors['incorrect']}}</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="color">Event Color *</label>
        <div class="form-control">
            <ul class="circle-list">
                <li [class.active]="colorItem==model.eventColor"
                    *ngFor="let colorItem of eventColors; let index=index;">
                    <a class="event-color-{{colorItem}}" (click)="onSelectedColor($event,colorItem);"
                        style="cursor: pointer;"></a>
                    <span>{{colorItem}}</span>
                </li>
            </ul>
            <div *ngIf="submitted && !model.eventColor" class="invalid-feedback">
                <div>Event color is required</div>
            </div>
        </div>

    </div>
    <hr>
    <div class="action-buttons-container right padding-bottom-10">
        <button *ngIf="!eventTypeId" (click)="onCancel()">Cancel</button>
        <button class="primary" (click)="onSubmit(formEventInfo)">Save</button>
    </div>
</form>