<div class="meetme-card">
    <app-availability-list #listAvailabilityComponent (itemSelected)="onSelected($event)"></app-availability-list>
</div>
<div class="meetme-card">

    <div class="overview">
        <div class="header">
            <h2>{{selectedAvailability?.name}}</h2>
            <span *ngIf="selectedAvailability?.isDefault">
                <i style="color:orange;" class="fa-sharp fa-solid fa-star"></i> default schedule</span>

        </div>
        <div>
            <span class="btn big_icon action_menu_openner">
                <i #toggle_availability_action_menu (click)="onOpenActionMenu()" class="fa fa-solid fa-gear"></i>
            </span>
            <ul #availability_action_menu *ngIf="showActionMenubarYN" class="action_menu dropdown-menu">
                <li (click)="onClickEditName(selectedAvailability?.id!)"><i class="fa fa-pen"></i><span>Edit
                        Name</span>
                </li>
                <li (click)="onClone(selectedAvailability?.id!)"><i class="fa fa-clone"></i><span>Clone</span></li>
                <li *ngIf="!selectedAvailability?.isDefault" (click)="onDefault(selectedAvailability?.id!)">
                    <i class="fa fa-star"></i><span>Default</span>
                </li>
                <li (click)="onShowDeleteModal()"><i class="fa fa-trash"></i><span>Delete</span></li>
            </ul>

        </div>
    </div>
    <hr>
    <app-time-availability #availabilityComponent (TimeAvailabilityChanged)="onTimeAvailabilityChanged($event)"></app-time-availability>
    
</div>



<app-my-modal [isVisible]="showEditModalYN" modalTitle="Edit Schedule Name" [modalWidth]="'500px'"
    (closeModal)="onCloseModal()">
    <ng-template #modalContent>
        <form class="single-column" #frmEdit="ngForm">
            <div class="form-group">
                <label for="name">Schedule Name</label>
                <div class="form-control">
                    <input #name="ngModel" id="name" name="name" autocomplete="off"
                        [ngClass]="frmEdit.submitted && name.invalid?'is-invalid':''" type="text" [(ngModel)]="editName"
                        required minlength="3">
                    <div *ngIf="frmEdit.submitted && name.errors" class="invalid-feedback">
                        <div *ngIf="name.errors['required']">Name is required</div>
                        <div *ngIf="name.invalid">Name at-least three charecters</div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="action-buttons-container">
                <button (click)="onCloseModal()">Close</button>
                <button class="primary" (click)="onEditNameFormSubmit(frmEdit)">OK</button>
            </div>
        </form>
    </ng-template>
</app-my-modal>


<app-my-modal [isVisible]="showDeleteModalYN" modalTitle="Delete Availability" [modalWidth]="'500px'"
    (closeModal)="onCloseModal()">
    <ng-template #modalContent>
        <h2>Are you sure want to delete?</h2>
        <hr>
        <div class="action-buttons-container">
            <button (click)="onCloseModal()">Close</button>
            <button class="special" (click)="onDelete($event)">Delete</button>
        </div>
    </ng-template>
</app-my-modal>
