.divider {
    position: relative;
    padding: 0 0 10px 0;
    border-bottom: 2px solid lightgray;
}

.overview {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.overview .action_menu_openner {
    cursor: pointer;
}

.overview .action_menu_openner i:hover {
    color: gray;
}

.action_menu {
    

}
