<h1>All Events</h1>
<div class="meetme-card secondary">
    <div class="section-header">
        <div class="user-info">
            <h3>{{user_name}}</h3>
            <a target="_blank" [routerLink]="['/calendar',baseUri]">
                {{host}}/{{baseUri}}
            </a>
        </div>
        <button class="primary" (click)="onAddNew()"> Add Events</button>

    </div>
</div>
<div class="meetme-card">
    <div class="event-list-container">

        <div [ngClass]="{'is-inactive':!item.activeYN,'is-selected':item.isSelected}" class="event-list-item"
            *ngFor="let item of listEventTypes">
            <div class="event-item-color-indicator" [ngStyle]="getColorIndicatorStyle(item)"></div>
            <div class="toolbar">
                <input type="checkbox" name="select" id="select"
                [(ngModel)]="item.isSelected" 
                  (change)="onEventTypeSelectionChnaged($event)">
                <button #menuOpener id="{{item.id}}" class="">...
                    <ul (click)="onDropdownClick($event)" #dropdownMenu id="{{item.id}}" class="btn-overlay-opener  dropdown-menu">
                        <li (click)="onEdit(item.id)"><i class="fa fa-pen"></i><span>
                                Edit</span>
                        </li>
                        <li (click)="onClone(item)"><i class="fa fa-clone"></i><span>Clone</span></li>

                        <li (click)="onDeleteConfirm(item)"><i class="fa fa-trash"></i><span>Delete</span></li>
                        <hr>
                        <li>

                            <app-toggle-switch [ngModel]="item.activeYN?true:false"
                                (valueChanged)="onToggleStatus(item, $event)" label="Active"></app-toggle-switch>
                        </li>
                    </ul>
                </button>

            </div>
            <hr>
            <div class="header">
                <h3>{{item.name}}</h3>

            </div>
            <div class="time-location">
                Duration : {{item.duration}} minutes
            </div>
            <div class="footer">
                <a target="_blank" [routerLink]="['/calendar',baseUri,item.slug]">
                    Preview booking page
                </a>
                <a #copyLinkEl (click)="onClickCopyLink(copyLinkEl,item.slug)" class="copy-link  ">
                    <span class="copied-icon"><i class="far fa-check"></i> Copied</span>
                    <span class="copy-icon"><i class=" far fa-copy"></i> Copy link</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="selectedEventTypesCount>0" class="selected-evnettype-dialog">
    <button (click)="onClearSelection()"><i class="far fa-times"></i></button>
    <h3 style="padding-right: 50px;">{{selectedEventTypesCount}} selected</h3>
    <button  (click)="onDeleteSelected()"><i style="color:var(--accent-color)" class="far fa-trash"></i>Delete</button>
    <button  (click)="onToggleStatusSelected()"><i class="far fa-toggle-off"></i>Off/On</button>
    
</div>

<app-my-modal [isVisible]="itemToDelete!=undefined" modalTitle="Delete Event Type" (closeModal)="onCancelDelete()">
    <ng-template #modalContent>
        <h2>Are you sure want to delete?</h2>
        <hr>
        <div class="action-buttons-container">
            <button (click)="onCancelDelete()">Close</button>
            <button class="special" (click)="onDelete()">Delete</button>
        </div>
    </ng-template>
</app-my-modal>
