.section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.event-list-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* .event-list-container */
 .event-list-item {
    position: relative;
    /* width: 300px; */
    flex: 0 0 300px;
    height: 250px;
    /* display: block; */
    padding: 10px 12px;
    margin: 15px 10px;
    box-shadow: 0 3px 10px lightgray;
    border: 2px solid rgb(238, 232, 232);
}

.event-list-item .event-item-color-indicator{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width:5px;
}
.event-list-item.is-inactive {
    opacity: 0.5;
}

.event-list-item.is-selected {
    border: 2px solid var(--primary-color) !important;
}

.event-list-item .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.toolbar .btn-overlay-opener {
    display: none;
    padding-top: 0;
}
.toolbar .btn-overlay-opener.show {
    display: block;
}
/* 
.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 3px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: var(--secondary-color);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    list-style: none;
    cursor: pointer;
    color: white;
    padding: 5px 15px;
    margin: 3px 0 0 0;
}

.dropdown-menu li:hover {
    background-color: var(--primary-color);
    color: white;
}

.dropdown-menu li i {
    padding-right: 5px;
} */

.event-list-item .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
}

.event-list-item .header .button {
    /* padding: 0 5px;
    cursor: pointer;
    color: white; */
    width: 40px;
    /* height: 30px; */
    border: 1px solid lightgray;
    /* padding-top: 5px; */
}

.event-list-item .header .button:hover {
    background-color: var(--primary-color);
    color: white;
}

.event-list-item .time-location {
    /* color: var(--primary-color);
    font-size: 13px; */
}

.event-list-item article {
    /* margin: 7px 5px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: justify;
    height: 125px; */
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.event-list-item article a {
    font-size: 18px;
}

.event-list-item .footer {
    position: absolute;
    width: 100%;
    bottom: 15px;
    left: 0;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy-link i,
.copy-link span {
    color: inherit;
}

.copy-link .copied-icon {
    display: none;
}

.copy-link.copy-link-done .copied-icon {
    display: block;
}

.copy-link.copy-link-done .copy-icon {
    display: none;
}

.event-list-header .user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.selected-evnettype-dialog {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 20px 70px;
    position: sticky  ;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    border-top: 2px solid var(--primary-color);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
