<div class="width-50p padding-left-20">
    <h2>User Name</h2>
    <hr>
    <form (ngSubmit)="onSubmit(formBaseURI)" #formBaseURI="ngForm">
        <div class="form-group">
            <label for="baseURI">{{host}}/{{base_URI}}
            </label>
            <div class="form-control">
                <input type="text" spellcheck="false" (input)="onLinkChanged($event)" (keydown)="onKeyDown($event)"
                    (keyup)="onKeyUp($event)" #baseURI="ngModel" pattern="^[a-z0-9\-_]+$" [(ngModel)]="base_URI"
                    id="baseURI" name="baseURI" required minlength="3" maxlength="255">
                <div style="height: 25px;">
                    <div *ngIf="!is_Checking_Avaibility && baseURI.errors" class="invalid-feedback">
                        <div *ngIf="baseURI.errors['required']">Link is required</div>
                        <div *ngIf="baseURI.errors['minlength']">At-least 3 charecters</div>
                        <div *ngIf="baseURI.errors['incorrect']">{{baseURI.errors['incorrect']}}</div>
                    </div>
                    <div *ngIf="is_Checking_Avaibility || availabilityStatus">
                        <span *ngIf="availabilityStatus"> {{availabilityStatus}}</span>
                        <div *ngIf="is_Checking_Avaibility" class="dot-pulse"></div>
                    </div>
                </div>

            </div>

        </div>
        <div class="action-buttons-container right padding-top-10 padding-bottom-10">
            <button loading-indicator [loading]="isSaving" [disabled]="isSaving" (click)="onSubmit(formBaseURI)"
            class="primary width-100px" >
            <i class="fa fa-save"></i> Save
            </button>
        </div>
    </form>
</div>