.time-intervals{
    display: flex;
    gap: 10px;
    
}
.calendars-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}

.isDifferentMonth {
    opacity: 0.5;
}
.is-periodSelected {
   
}
.button {
    width: 30px;
    padding: 2px;
    margin: 1px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}