<div class="time-intervals">
    <a [class.is-active]="selectedPeriod=='today'" (click)="onIntervalClick('today')">Today</a>
    <a [class.is-active]="selectedPeriod=='tomorrow'"(click)="onIntervalClick('tomorrow')">Tomorrow</a>
    <a [class.is-active]="selectedPeriod=='this_week'" (click)="onIntervalClick('this_week')">This Week</a>
    <a [class.is-active]="selectedPeriod=='this_month'" (click)="onIntervalClick('this_month')">This Month</a>
    <a  (click)="onIntervalClick('alltime')">All Time</a>
</div>
<div class="calendars-container">
    <div class="calendar-item-container">
        <div class="calendar-header">
            <button class="month-navigation-button" (click)="onClickPreviousMonth()">&lt;</button>
            <h3>{{calendar1MonthName}}</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th *ngFor="let day of days">{{ day }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let week of calendar1">
                    <td *ngFor="let day of week" (click)="onSelectedDay('calendar1', day)">
                        <button class="calendar-day-button " [class.special]="day.isSelected"
                            [class.isDifferentMonth]="day.isDifferentMonth"> {{ day.dayNo
                            }}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="calendar-item-container">
        <div class="calendar-header">
            <h3>{{calendar2MonthName}}</h3>
            <button class="month-navigation-button" (click)="onClickNextMonth()">&gt;</button>

        </div>
        <table>
            <thead>
                <tr>
                    <th *ngFor="let day of days">{{ day }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let week of calendar2">
                    <td *ngFor="let day of week" (click)="onSelectedDay('calendar2', day)">
                        <button class="calendar-day-button" [class.special]="day.isSelected"
                            [class.isDifferentMonth]="day.isDifferentMonth"> {{ day.dayNo
                            }}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="action-buttons-container center">
    <button (click)=" onCancelDateRangeFilter()">Cancel</button>
    <button class="primary" [disabled]="!isValidDateRange" (click)="onApplyFilterByDateRange()">Apply</button>
</div>