<div>
    <button (click)="onPreviousMonth()">Back</button>
    <button (click)="onNextMonth()">Next</button>
    <div>{{selectedYearMonth}}</div>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th *ngFor="let day of day_of_week; let index=index;">{{day}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let daysInSlot of days_slot_in_month |keyvalue; let index=index">
                <td *ngFor="let dayNo of  daysInSlot.value">
                    <span *ngIf="dayNo>0" (click)="onClickDay(dayNo)" >{{dayNo}}</span></td>
            </tr>
        </tbody>
    </table>
</div>