
.user-pic {
    width: 50px;
    height: 45px;
    margin-left: 20px;
    border-radius: 5%;
    cursor: pointer;
}

.user-profile-wrapper {
    position: absolute;
    top: 100%;
    right: 1px;
    width: 300px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 100;
}

.user-profile-wrapper.is-open {
    max-height: 300px;
}

.user-profile {
    padding: 10px;
    background-color:var(--secondary-color);
    border:1px solid var(--primary-color);
    margin: 1px;
    border-radius: 2px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.user-info span {
    font-weight: 500;
}

// .user-profile hr {
//     border: 0;
//     height: 1px;
//     width: 100%;
//     background-color: black;
//     margin: 10px 0;
// }

.user-profile ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile ul li {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.user-profile ul li a {
    cursor: pointer;
    padding: 0;
    margin: 0;
}
