<div class="layout">
    <nav>
      <img class="logo" src="../assets/images/logo.png">
      <ul *ngIf="isLogin()">
        <li>
          <a [routerLink]="['availability']" [routerLinkActive]="['is-active']">
            Availability
          </a>
        </li>
  
        <li>
          <a [routerLink]="['event-types']" [routerLinkActive]="['is-active']">
            Events
          </a>
        </li>
      </ul>
      <img *ngIf="isLogin()" class="user-pic" 
      (click)="toggleMenu('user-profile-wrapper')"
      src="../assets/images/profile.png"
      >
      <div *ngIf="isLogin()" class="user-profile-wrapper">
        <div class="user-profile">
          <div class="user-info">
            <img src="../assets/images/profile.png">
            <h3 class="user-name">Shahinur Kabir</h3>
          </div>
          <hr>
          <ul>
            <li> <a routerLink="account-settings">Account Settings</a></li>
            <li><a (click)="onLogout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
  