.weekday_name {
    font-weight: bold;
}

.section_overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_overview .section-timezone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section_overview .toggle_view_container {
    display: flex;
}

.weekday_heading {
    font-weight: bold;
    height: 40px;
    text-align: center;
    background-color: white;
    padding: 10px 0;
}

.toggle_button {
    border: 1px solid lightgray;
    background-color: white;
    box-shadow: 1px solid cornflowerblue;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 5%);
}

.weekly_availability {
    display: flex;
    width: 100%;
}

.weekly_availability .weekly_days {
    width: 60%;
    padding: 15px 25px 0 0;
}

.weekly_availability .weekly_days .weekly_day {
    display: flex;
    align-items: flex-start;
    padding-bottom: 7px;
}

.weekly_availability .weekly_days .weekly_day .weekday_name {
    width: 150px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.intervals {
    width: 100%;
    position: relative;
    min-height: 42px;
}

.intervals .interval_item {
    width: 100%;
    padding-bottom: 5px;
    // display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.intervals .interval_item.not_available {
    opacity: 0.5;
    font-weight: 700;
    margin-top: 10px;
}

.intervals .interval_item input[type=text] {
    width: 35%;
    border-radius: 5px;
}

.interval_item .delete_interval {
    margin-left: 10px;
    border-radius: 5px;
}


.override_date_intervals {
    padding: 10px;
    margin: 10px 0;
    background-color: var(--secondary-color);
}

.interval_list_grid .interval_list_grid_item {
    padding-bottom: 7px;
}

.interval_list_grid input[type=text] {
    width: 150px;
}

.weekly_availability .overrides_dates {
    width: 40%;
    padding: 15px 0 0 25px;
    border-left: 2px solid var(--secondary-color);
}

.weekly_availability .overrides_dates .btn_open_calendar {
    width: 100%;
    background-color: azure;
    color: blue;
    margin: 10px 0;
    border-radius: 5px;
}

.weekly_availability .overrides_dates .timeinterval_overrides {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0px;
    border-top: 1px solid var(--gray-color);
    position: relative;
    cursor: pointer;
}

.weekly_availability .overrides_dates .timeinterval_overrides:hover {
    background-color: var(--secondary-color);
}

.weekly_availability .overrides_dates .timeinterval_overrides:last-child {
    border-bottom: 1px solid var(--gray-color);
}

.weekly_availability .overrides_dates .timeinterval_overrides .timeslots {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.modal-override-dates {

    position: absolute;
    width: 400px;
    left: 40%;
    top: 25%;
    visibility: hidden;
    z-index: 100;
    background-color: wheat;
    padding: 10px 8px;
}

.modal-override-dates.is-open {
    visibility: visible;
}

.modal-override-day {
    position: absolute;
    width: 400px;
    left: 40%;
    top: 25%;
    visibility: hidden;
    z-index: 100;
    background-color: wheat;
    padding: 10px 8px;
}

.modal-override-day.is-open {
    visibility: visible;
}

.monthly_view_container {
    margin: 0 -11px;
}

.monthly_view_container .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-bottom: 7px;
}

.monthly_view_container .header .calendar_nav {
    display: flex;
    gap: 5px;
    padding-right: 10px;
}

.monthly_view_container .header .calendar_nav .month_nav_button {
    width: 30px;
    padding: 2px;
    margin: 1px;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;
}

.monthly_view_container .header .calendar_nav i {
    font-size: 25px;
}

.daysInMonth {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgray;
}

.daysInMonth>* {
    flex: 1 1 14%;


}

.daysInMonth .dayInMonth-item {
    border-bottom: 1px solid var(--gray-color);
    border-right: 1px solid var(--gray-color);
    padding: 7px 5px;
    position: relative;
    height: 120px;
    display: flex;
    flex-direction: column;
}

button.border_transparent {
    border: 1px solid transparent;
}

button.dayInMonth-item {
    font-weight: normal;
}
.daysInMonth .dayInMonth-item.override_interval {
    border-top: 2px solid var(--primary-color);
}
.daysInMonth .dayInMonth-item.override_interval i {
    color:  var(--primary-color);
}
.daysInMonth .dayInMonth-item .heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 3px 10px 5px;
    pointer-events: none;
}

.daysInMonth .dayInMonth-item:hover:not([disabled]) {
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
}

.daysInMonth .dayInMonth-item:hover:disabled {
    cursor: default;
}

.daysInMonth .dayInMonth-item:nth-child(1) {
    border-top: 1px solid greenyellow;
}

.daysInMonth .dayInMonth-item .weekly_intervals.has_more {
    pointer-events: none;
    display: flex   ;
    justify-content: center;
    width: 100%;	
    padding-top: 5px;
}

.daysInMonth .dayInMonth-item .action_buttons {
    display: none;
    position: absolute;
    width: 200px;
    left: 5px;
    top: 0;
    z-index: 1;
}


.daysInMonth .dayInMonth-item .action_buttons.is_open {
    display: block;
}

button {
    cursor: pointer;
}

.btn.add_more_time_slot {
    position: absolute;
    right: 0;
    top: 0;
}

