<form #formAvailability="ngForm">
  <datalist id="time_slots">
    <option *ngFor="let time of timeSlotsList" [value]="time"></option>
  </datalist>

  <h3 *ngIf="viewMode=='readonly'">Time Zone <span>{{availability?.timeZone}} </span></h3>

  <div *ngIf="viewMode!='readonly'" class="section_overview">
    <div class="section-timezone">
      <h3>Time Zone</h3>
      <app-timezone-control style="width: 250px;" #timezoneControl [selectedTimeZone]="selectedTimeZone"
        (selectionChanged)="onSelectTimeZone($event)"></app-timezone-control>
    </div>
    <div class="multi_option_button_container">

      <a [class.selected]="viewMode==='list'" (click)="onToggleView('list')">
        <i class="fa-solid fa-list"></i> List view
      </a>
      <a [class.selected]="viewMode==='monthly'" (click)="onToggleView('monthly')">
        <i class="fa-solid fa-calendar-week"></i> Calendar view
      </a>
    </div>
  </div>
  <hr>
  <div *ngIf="viewMode=='readonly'" class="weekly_availability">
    <div class="weekly_days">
      <h2>Weekly hours</h2>
      <div class="weekly_day" *ngFor="let dailyTimeAvailabilities of availabilityInWeek">
        <span class="weekday_name">{{dailyTimeAvailabilities.day}}</span>
        <ng-container
          *ngTemplateOutlet="timeInvervalsInDayTemplateReadOnly; context: {timeInvervalsInDay: dailyTimeAvailabilities}"></ng-container>
      </div>
    </div>

    <div class="overrides_dates">
      <h2 class="sub_title">Add date overrides</h2>
      <div class="timeinterval_overrides" *ngFor="let dailyTimeAvailabilities of availabilityOverrides;let index=index">
        <div>{{dailyTimeAvailabilities.day}}</div>
        <div class="timeslots">
          <div *ngFor="let timeSlot of dailyTimeAvailabilities.intervals; let index=index">
            <span>{{timeSlot.startTime}} - {{timeSlot.endTime}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="viewMode=='list'" class="weekly_availability">
    <div class="weekly_days">
      <h3>Weekly hours</h3>
      <div class="weekly_day" *ngFor="let dailyTimeAvailabilities of availabilityInWeek">
        <label for="{{dailyTimeAvailabilities.day}}" class="weekday_name">
          <input type="checkbox" id="{{dailyTimeAvailabilities.day}}" name="{{dailyTimeAvailabilities.day}}"
            [checked]="dailyTimeAvailabilities.isAvailable" (click)="onWeekdaySelection(dailyTimeAvailabilities)">
          {{dailyTimeAvailabilities.day}}
        </label>
        <ng-container
          *ngTemplateOutlet="timeInvervalsInDayTemplate; context: {timeInvervalsInDay: dailyTimeAvailabilities}"></ng-container>
        <span (click)="onAddTimeInterval(dailyTimeAvailabilities)" class="btn"><i class="fa fa-plus"></i></span>
        <span (click)="onAddTimeInterval(dailyTimeAvailabilities)" class="btn"><i class="fa fa-clone"></i></span>
      </div>
    </div>

    <div class="overrides_dates">
      <h2 class="sub_title">Add date overrides</h2>
      <button style="width:100%; display: block;" class="special"
        (click)="onOpenCalendarModal('modal-override-dates')">Add a date override</button>
      <div class="timeinterval_overrides" (click)="onEditAvailabilityForOverrideDate(index)"
        *ngFor="let dailyTimeAvailabilities of availabilityOverrides;let index=index">
        <div>{{dailyTimeAvailabilities.day}}</div>
        <div class="timeslots">
          <div *ngFor="let timeSlot of dailyTimeAvailabilities.intervals; let index=index">
            <span>{{timeSlot.startTime}} - {{timeSlot.endTime}}</span>
          </div>
        </div>
        <span (click)="onRemoveOverrideData(index)"><i class="fa fa-trash"></i></span>
      </div>
    </div>
  </div>

  <div *ngIf="viewMode=='monthly'" class="monthly_view_container">
    <div class="header">
      <h3>{{monthNames[selectedMonth]}} {{selectedYear}}</h3>
      <div class="calendar_nav">
        <button class="month_nav_button" [disabled]="isCurrentMonth" (click)="onClickPreviousMonth($event)">
          &lt;</button>
        <button class="month_nav_button" (click)="onClickNextMonth($event)">
          &gt;</button>
      </div>
    </div>

    <div class="daysInMonth">
      <div class="weekday_heading" *ngFor="let day of weekDays;let index=index;">
        <span class="weekday_name">{{day}}</span>
      </div>

      <button  [disabled]="dayItem.isPastDate" (click)="!dayItem.isPastDate ? onClickDayInMonthView($event) : ''"
        (mouseleave)="onRemoveActionButtonFromCalendarDay($event)" class="dayInMonth-item border_transparent"
        *ngFor="let dayItem of availabilityInMonth; let index=index"
        [ngClass]="dayItem.isOverride ? 'override_interval' : ''">
        <div class="heading">
          <div class="weekday_name">{{dayItem.day}}</div>
          <div>
            <i
              [ngClass]="{'fa-solid fa-calendar-week': dayItem.isOverride, 'fa-solid fa-retweet': !dayItem.isOverride}"></i>
          </div>
        </div>

        <div role="button" class="weekly_intervals">
          <span role="button" *ngFor="let item of dayItem.intervals.slice(0, 3); let index=index">
            {{item.startTime}} - {{item.endTime}}
          </span>
          <div *ngIf="dayItem.intervals.length > 3">
            <strong>+ {{dayItem.intervals.length - 3}} more {{dayItem.intervals.length - 3 > 1 ? 'items' :
              'item'}}</strong>
          </div>
        </div>

        <div class="action_buttons">
          <ul class="dropdown-menu">
            <li (click)="onEditAvailabilityForDate(dayItem)">
              <i class="fa-solid fa-calendar-week"></i>
              <span>Edit date(s)</span>
            </li>
            <li (click)="onEditAvailabilityForWeekDay(dayItem)" *ngIf="!dayItem.isOverride">
              <i class="fa-solid fa-retweet"></i>
              <span>Edit all {{dayItem.weekDay}}s</span>
            </li>
            <li (click)="onResetToWeeklyHours(dayItem)" *ngIf="dayItem.isOverride">
              <i class="fa-solid fa-rotate-left"></i>
              <span>Reset to weekly hours</span>
            </li>
          </ul>
        </div>
      </button>
    </div>
  </div>
</form>

<mm-modal *ngIf="viewMode!=='readonly'" id="modal-override-dates" title="Date override intervals"
  (cancelEvent)="onCloseCalendarModal()" (confirmEvent)="onApplyCalendarDateChanges()">
  <app-calendar (handlerDateClick)="onHandledCalendarClicked($event)"
    [selectedDates]="selectedDatesFromCalender"></app-calendar>
  <div class="override_date_intervals" *ngIf="selecteDateOverride">
    <ng-template
      *ngTemplateOutlet="timeInvervalsInDayTemplate; context: {timeInvervalsInDay: selecteDateOverride}"></ng-template>
  </div>
</mm-modal>

<mm-modal *ngIf="viewMode!=='readonly'" id="modal-override-day" title="{{selectedDayInWeek}} availability"
  (cancelEvent)="onCloseWeekdayConfigureModal()" (confirmEvent)="onApplyWeekDayChanges()">
  <div class="override_date_intervals" *ngIf="selecteDateOverride">
    <ng-template
      *ngTemplateOutlet="timeInvervalsInDayTemplate; context: {timeInvervalsInDay: selecteDateOverride}"></ng-template>
  </div>
</mm-modal>

<ng-template #timeInvervalsInDayTemplate let-timeInvervalsInDay="timeInvervalsInDay">
  <div class="intervals">
    <div *ngIf="!timeInvervalsInDay.isAvailable ">
      <div class="interval_item not_available">Not available</div>
    </div>

    <div *ngIf="timeInvervalsInDay.isAvailable">
      <div class="interval_item" *ngFor="let timeInterval of timeInvervalsInDay.intervals; let i=index">
        <input type="text" [id]="'startTime_'+[timeInvervalsInDay.day]+''+i"
          [name]="'startTime_'+[timeInvervalsInDay.day]+''+i" list="time_slots" [(ngModel)]="timeInterval.startTime"
          required [ngClass]="timeInterval.errorMessage ? 'is-invalid' : ''"
          (focusout)="onLostFocus($event, i, false, timeInvervalsInDay)">
        -
        <input type="text" list="time_slots" [(ngModel)]="timeInterval.endTime"
          [id]="'endTime_'+[timeInvervalsInDay.day]+''+i" [name]="'endTime_'+[timeInvervalsInDay.day]+''+i"
          [ngClass]="timeInterval.errorMessage ? 'is-invalid' : ''" required
          (focusout)="onLostFocus($event, i, true, timeInvervalsInDay)">

        <span class="btn special" (click)="onRemoveTimeInterval(i, timeInvervalsInDay)"><i
            class="fa fa-trash"></i></span>

        <div *ngIf="timeInterval.errorMessage" class="invalid-feedback">
          {{timeInterval.errorMessage}}
        </div>
      </div>
    </div>

    <!-- <span (click)="onAddTimeInterval(timeInvervalsInDay)" class="btn add_more_item"><i class="fa fa-plus"></i></span> -->
  </div>
</ng-template>
<ng-template #timeInvervalsInDayTemplateReadOnly let-timeInvervalsInDay="timeInvervalsInDay">
  <div class="intervals">
    <div *ngIf="!timeInvervalsInDay.isAvailable ">
      <div class="interval_item not_available">Not available</div>
    </div>
    <div *ngIf="timeInvervalsInDay.isAvailable">
      <div class="interval_item" *ngFor="let timeInterval of timeInvervalsInDay.intervals; let i=index">
        <span>{{timeInterval.startTime}} - {{timeInterval.endTime}}</span>

      </div>
    </div>
  </div>
</ng-template>