
<div class="succcess-page-container">
    <h1>Appointment Scheduled successfully</h1>
    <hr>
    <p>You will receive an appointment invitation shortly to your email address.</p>
    <div class="appointment-details">
       
        <h2 class="padding-bottom-20">{{appointmentDetails?.eventTypeTitle}}</h2>
        <div class="detail-item">
            <i class="far fa-user detail-icon"></i>
            <div class="detail-text">{{appointmentDetails?.eventOwnerName}}</div>
        </div>
        <div class="detail-item">
            <i class="fas fa-calendar-alt detail-icon"></i>
            <div class="detail-text">{{appointmentDetails?.appointmentTimeSlot}} {{appointmentDetails?.appointmentDate}}</div>
        </div>
        <div class="detail-item">
            <i class="fas fa-globe detail-icon"></i>
            <div class="detail-text">{{appointmentDetails?.inviteeTimeZone}}</div>
        </div>
    </div>
</div>