.succcess-page-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .succcess-page-container h1 {
    color:var(--primary-color);
  }

  p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
  }

  .appointment-details {
    background-color: #f0f8ff;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 10px;
    text-align: left;
  }

  .detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
  }

  .detail-icon {
    margin-right: 15px;
    font-size: 24px;
    // color: #007bff;
  }

  .detail-text {
    font-size: 18px;
    color: #333;
  }