<p>calendar works!</p>
<div class="container">
    <div class="calendar-container">
        <app-timezone-control #timezoneControl [selectedTimeZone]="selectedTimeZone" [showHourFormatChangeOption]="true"
            (dataLoaded)="onLoadedTimezoneData($event)"
            (selectionChanged)="onChangedTimezone($event)"
            (hourFormatChanged)="onChangedHourFormat($event)"
            ></app-timezone-control>
        <div class="calendar">
            <app-calendar (handlerDateClick)="onHandledCalendarClicked($event)"
                (handlerMonthChange)="onHandledMonthChange($event)"
                [allowMultipleSelection]="false"></app-calendar>
        </div>
        
    </div>
    <div class="appointments">
        <span>{{selectedDate}}</span>
        <button *ngFor="let slot of day?.slots">
            {{slot.startAtTimeOnly}}
        </button>
    </div>
</div>