// $neutral-color: #F5F5F5;
// $primary-color:white;
// $primary-text-color:#D6C4E8;
// $secondary-color: #EFF5EE;
// $secondary-text-color:#3C1F6A;

// $accent-color: #05AED5;
// $accent-text-color: #BFFFFF
:root {
  --primary-color: #49CC90;
  //--primary-text-color: #E8F6F0;
  --secondary-color: #E8F6F0;
  //--secondary-text-color: #3C1F6A;
  --accent-color: #f36e6e;
  //--accent-text-color: #BFFFFF;
  //--neutral-color: #f4f4f4;
  --gray-color:#f2f2f2;
}
// $neutral-color: #f4f4f4;
// $primary-color:#6400EE;
// $primary-text-color:#D6C4E8;
// $secondary-color: #EFF5EE;
// $secondary-text-color:#3C1F6A;

// $accent-color: #05AED5;
// $accent-text-color: #BFFFFF

