
/* Button Styles */
button {
    background: transparent;
    border: 1px solid grey;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    color: #3b4151;
    //font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
    transition: all .3s;
    cursor: pointer;
    height: 28px;
}
button.rounded {
    border-radius: 20px;
}
button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

button:disabled {
    opacity: .2;
    cursor: not-allowed;
}

/* Primary Button */
button.primary {
    background-color: transparent;
    border-color: #49cc90;
    color: #49cc90;
}

/* Secondary Button */
button.secondary {
    background-color: #6c757d;
    color: #fff;
    border: 1px solid #6c757d;
}

button.secondary:hover {
    background-color: #545b62;
    border: 1px solid #545b62;
}

/* Special Button with High Contrast */
button.special {
    background-color: #d9534f;
    color: #fff;
    border: 1px solid #d9534f;
}

button.special:hover {
    background-color: #c9302c;
    border: 1px solid #c9302c;
}

span.btn,.special{
    border: 1px solid transparent;
    padding: 7px 10px;
    cursor: pointer;
}
span.btn:hover{
    color: white;
    background-color: var(--gray-color);
}
span.special:hover{
    color: white;
    background-color: var(--gray-color);
}

span.btn.big_icon >.fa,
span.btn.big_icon >.fas {
    font-size: 20px;
    padding: 0 5px 0 5px;

}

.multi_option_button_container {
    padding: 5px 7px;
    display: inline-flex;
    gap: 5px;
    border-radius: 5px;
    border-bottom: 1px solid var(--primary-color);
    background-color:var(--secondary-color);
}

.multi_option_button_container a {
    padding: 4px 10px;
    color: var(--text-color);
    border: 1px solid var(--primary-color);
}

.multi_option_button_container .selected {
    background-color: var(--primary-color);
    color: white;
}