ul {
    list-style: none;
}


header nav {
    display: flex;
    width: 100%;
    background-color:var(--secondary-color);
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 3px 0 0;
    border-bottom: 2px solid var(--primary-color);
}
header nav ul {
    width: 100%;
    display: flex;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 10px;
}

header nav ul li a {
    // padding: 20px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease;
    // border-bottom: 2px solid transparent;
    padding: 7px 10px;
}

header nav ul li a.is-active {
    color:white;
    text-decoration: underline;
    background-color: var(--primary-color);
    border-radius: 3px;
}


.dropdown-menu {
    position: absolute;
    right: 0;
    padding: 5px 0;
    margin-top: 3px;
    border: 1px solid lightgray;
    border-radius: 3px;
    background: var(--secondary-color);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    list-style: none;
    cursor: pointer;
    color: white;
    padding: 5px 15px;
    margin: 3px 0 0 0;
}

.dropdown-menu li:hover {
    background-color: var(--primary-color);
    color: white;
}

.dropdown-menu li i {
    padding-right: 5px;
}