@import "_variables";

// Event colors
:root {
    --event-orange: orange;
    --event-green: green;
    --event-blue: blue;
    --event-cyan: cyan;
    --event-olive: olive;
    --event-purple: purple;
    --event-teal: teal;
    --event-violet: violet;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'sans-serif', 'poppins';
    box-sizing: border-box;
    font-size: 14px;

}

body {
    // background-color: $neutral-color;
    // color: #191919;
    position: relative;


}

body.is-modal-open {
    overflow-y: hidden;
}

// a {
//     color: var(--accent-color);
//     text-decoration: none;
// }

// a:hover {
//     text-decoration: underline;
// }

// a:visited {
//     color: var(--accent-color);
// }

// .layout_container {
//     display: block;
//     position: relative;
//     background-color: aliceblue;
// }

.layout {
    display: block;
    //width: 1024px;
    min-height: 100vh;
    //margin: 0px auto;
    //padding: 1px 0px;
    // background-color: $primary-color;
}

nav {
    display: flex;
    width: 100%;
    //padding: 3px 5px;
    background-color: var(--primary-color);
    // border-bottom: 1px solid lightgray;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 3px 0 0 ;
}

.logo {
    height: 50px;
    width: 100px;
    cursor: pointer;
}

nav ul {
    width: 100%;
    text-align: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul.menu li a {
    text-transform: uppercase;
    //text-decoration: none;
    color: var(--primary-text-color);
    padding: 20px 20px;
}

nav ul li a {
    //text-decoration: none;
    // color: #fff;
    color: var(--primary-text-color);
    padding: 20px 20px;

}

nav ul li a.is-active {
    //background-color: white;
    color: var(--primary-text-color);
    border-bottom: 2px solid gray;

}

.meetme-card {
    display: block;
    width: 100%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;

}
.user-pic {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border-radius: 5%;
    cursor: pointer;
}

.user-profile-wrapper {
    position: absolute;
    top: 100%;
    right: 1px;
    width: 300px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 100;
}

.user-profile-wrapper.is-open {
    max-height: 300px;
}

.user-profile {
    padding: 10px;
    background-color: lightblue;
    margin: 1px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.user-info span {
    font-weight: 500;
}

.user-profile hr {
    border: 0;
    height: 1px;
    width: 100%;
    background-color: black;
    margin: 10px 0;
}

.user-profile ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile ul li {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.user-profile ul li a {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.layout .main {
    min-height: calc(100vh - 90px);
    padding: 15px 20px;
    width: 1024px;
    min-height: 100vh;
    margin: 0px auto;

}

.page_title {
    // padding: 10px 0;
    font-size: 26px;
}

.sub_title {
    padding: 5px 0;
    font-size: 16px;
    font-weight: normal;
}

.layout.footer {
    background-color: brown;
}

// input {
//     border: 1px solid $secondary-color;
//     -webkit-transition: 0.5s;
//     transition: 0.5s;
//     outline: none;
//     padding: 5px 6px;
// }

// button {
//     border: 1px solid $secondary-color;
//     -webkit-transition: 0.5s;
//     transition: 0.5s;
//     outline: none;
//     padding: 5px 6px;
//     cursor: pointer;
// }

 /* Button Styles */
 button {
    background: transparent;
    border: 2px solid grey;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    color: #3b4151;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 23px;
    transition: all .3s;
    cursor: pointer;
}
button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}
/* Default Button */
// button.default {
//     background-color: #e0e0e0;
//     color: #333;
//     border: 1px solid #ccc;
// }

// button.default:hover {
//     background-color: #ccc;
// }

/* Primary Button */
button.primary {
    background-color: transparent;
    border-color: #49cc90;
    color: #49cc90;
    //display: inline;
    //line-height: 1;
}

// button.primary:hover {
//     background-color: #0056b3;
//     border: 1px solid #0056b3;
// }

/* Secondary Button */
button.secondary {
    background-color: #6c757d;
    color: #fff;
    border: 1px solid #6c757d;
}

button.secondary:hover {
    background-color: #545b62;
    border: 1px solid #545b62;
}

/* Special Button with High Contrast */
.special {
    background-color: #d9534f;
    color: #fff;
    border: 1px solid #d9534f;
}

.special:hover {
    background-color: #c9302c;
    border: 1px solid #c9302c;
}

hr {
    height: 1px;
    border: 1px solid whitesmoke;
    margin: 10px 0;
}

/* Default Styles for Input Elements */
input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

/* Style for Focused Input Elements */
input:focus {
    border-color: #007bff;
    /* Change border color when focused */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    /* Add a shadow when focused */
}

/* Style for Disabled Input Elements */
input:disabled {
    background-color: #f2f2f2;
    /* Change background color when disabled */
    color: #999;
    /* Change text color when disabled */
    cursor: not-allowed;
    /* Change cursor style when disabled */
}

/* Style for Placeholder Text */
input::placeholder {
    color: #999;
    /* Change the color of placeholder text */
}

/* Style for Valid Input (using HTML5 validation) */
input:valid {
    border-color: #28a745;
    /* Change border color for valid input */
}

/* Style for Invalid Input (using HTML5 validation) */
input:invalid {
    border-color: #dc3545;
    /* Change border color for invalid input */
}

/* Style for Hovered Input Elements */
input:hover {
    background-color: #f9f9f9;
    /* Change background color when hovered */
}

input.is-invalid,
textarea.is-invalid,
select.is-invalid {
    border-color: #dc3545 !important;
}

.invalid-feedback {
    color: #dc3545 !important;
}

.page {
    padding: 20px 0;
}

.page.page-width-95p {
    width: 95%;
    margin: 0 auto;
}

.page.page-width-85p {
    width: 85%;
    margin: 0 auto;
}

.page.page-width-75p {
    width: 75%;
    margin: 0 auto;
}

.page.page-width-65p {
    width: 65%;
    margin: 0 auto;
}

.page.page-width-50p {
    width: 50%;
    margin: 0 auto;
}

.page .header h2 {
    font-weight: bold;
    font-size: larger;
    // padding-bottom: 10px;
    // padding-left: 10px;
    //border-bottom: 1px solid lightgray;
}

.page .body {
    padding: 10px;
}

.buttons-container-left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}
.buttons-container-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}
.page .footer {
    padding: 30px 0;
    display: flex;
    justify-content: right;
}

.page .footer-left {
    padding: 30px 0;
    display: flex;
    justify-content: left;
}

.page .footer-center {
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

// form .form-group {
//     padding: 7px 2px;
//     display: flex;
//     align-items: center;
//     width: 100%;
// }

// form .form-group label {
//     width: 25%;
//     display: inline-block;
// }

// form .form-group .form-control {
//     width: 100%;
// }

// form .form-group .form-control input,
// form .form-group .form-control textarea {
//     border: 1px solid lightgray;
//     -webkit-transition: 0.5s;
//     transition: 0.5s;
//     outline: none;
//     width: 100%;
//     padding: 7px 5px;
// }

// form .form-group input:focus {
//     border: 1px solid black;
// }

// form .form-group textarea {
//     resize: none;
//     height: 100px;

// }

.form-group {
    padding: 7px 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.form-group label {
    flex: 1;
    width: 100%;
    font-weight: 700;
}

.form-group .form-control {
    flex: 1;
    padding: 3px 0;
    width: 100%;
}

.form-group .form-control input,
.form-group .form-control textarea,
.form-group .form-control select {
    // border: 1px solid $secondary-color;
    // -webkit-transition: 0.5s;
    // transition: 0.5s;
    // outline: none;
    width: 100%;
    padding: 7px 5px;
}



// .btn {
//     outline: none;
//     min-width: 70px;
//     min-height: 27px;
//     cursor: pointer;
//     padding: 2px 3px;
//     margin: 2px 3px;
//     opacity: 0.9;
// }

// .btn:hover {
//     opacity: 1;
// }

// .btn-primary {
//     background-color: var (--accent-color);
//     border: 1px solid darkgray;
// }

// .btn-default {
//     background-color: var(--secondary-color);
//     border: 1px solid darkgray;
// }

#modal-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    display: none;
    left: 0;
    top: 0;
    z-index: inherit;
    background-color: rgba(22, 22, 22, 0.5);
    background-repeat: repeat;

}

#modal-backdrop.is-open {
    display: block;
    visibility: visible;
}


.event-color-orange {
    background-color: var(--event-orange);
}

.event-color-green {
    background-color: var(--event-green);
}

.event-color-blue {
    background-color: var(--event-blue);
}

.event-color-cyan {
    background-color: var(--event-cyan);
}

.event-color-olive {
    background-color: var(--event-olive);
}

.event-color-purple {
    background-color: var(--event-purple);
}

.event-color-teal {
    background-color: var(--event-teal);
}

.event-color-violet {
    background-color: var(--event-violet);
}

// End Event colors


form.single-column {}

form.single-column .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form.single-column .form-group label {
    width: 100%;
    font-weight: 700;
}

form.single-column .form-group .form-control {
    width: 100%;
}

.toggle_buttons_container {
    margin: 5px 0;
    padding: 5px;
    display: block;
    width: max-content;
    background-color: rgb(251, 247, 247);
    border: 1px solid lightgray;
}


// animation
.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    box-shadow: 9999px 0 0 -5px;
    animation: dot-pulse 1.5s infinite linear;
    animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px;
    animation: dot-pulse-before 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px;
    animation: dot-pulse-after 1.5s infinite linear;
    animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
    0% {
        box-shadow: 9984px 0 0 -5px;
    }

    30% {
        box-shadow: 9984px 0 0 2px;
    }

    60%,
    100% {
        box-shadow: 9984px 0 0 -5px;
    }
}

@keyframes dot-pulse {
    0% {
        box-shadow: 9999px 0 0 -5px;
    }

    30% {
        box-shadow: 9999px 0 0 2px;
    }

    60%,
    100% {
        box-shadow: 9999px 0 0 -5px;
    }
}

@keyframes dot-pulse-after {
    0% {
        box-shadow: 10014px 0 0 -5px;
    }

    30% {
        box-shadow: 10014px 0 0 2px;
    }

    60%,
    100% {
        box-shadow: 10014px 0 0 -5px;
    }
}

// end animation


//anchor style
a {
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 16px;
   // margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

a:hover {
    color: var(--primary-color);
}

a.is-active {
    border-color:var(--primary-color);
}

