@import "_variables";
@import 'menu.scss';
@import 'buttons.scss';
@import 'animation.scss';

:root {
    --event-orange: orange;
    --event-green: green;
    --event-blue: blue;
    --event-cyan: cyan;
    --event-olive: olive;
    --event-purple: purple;
    --event-teal: teal;
    --event-violet: violet;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
    font-size: 14px;
    color: var(--text-color);
}

body {
    position: relative;
    background-color: var(--background-color);

}

.container {
    display: block;
    width: 1130px;
    margin: 0 auto;
}

.content-area {
    padding: 15px 5px;
    min-height: 100vh;
    margin: 0px auto;

}

.logo {
    height: 30px;
    width: 50px;
    cursor: pointer;
    margin: 10px 30px 0 0;
    cursor: pointer;
}

h1 {
    font-size: 2em;
    line-height: 1.2;
}

h2 {
    font-size: 1.5em;
    line-height: 1.3;
}

h3 {
    font-size: 1.17em;
    line-height: 1.4;
}

h4 {
    font-size: 1em;
    line-height: 1.5;
}


h1,
h2,
h3 {
    font-weight: 700;
    /* Use the bold variant for headings */
}

body.is-modal-open {
    overflow-y: hidden;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin_0 {
    margin: 0;
}

.margin_1 {
    margin: 1px;
}

.margin_2 {
    margin: 2px;
}

.margin_3 {
    margin: 3px;
}

.margin_4 {
    margin: 4px;
}

.margin_5 {
    margin: 5px;
}

.margin_6 {
    margin: 6px;
}

.margin_7 {
    margin: 7px;
}

.margin_8 {
    margin: 8px;
}

.margin_9 {
    margin: 9px;
}

.margin_10 {
    margin: 10px;
}

.meetme-card {
    display: block;
    width: 100%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;

}

.meetme-card.secondary {
    background-color: var(--secondary-color);
}

.page-container {
    display: flex;
    flex-direction: row;
}

.page_title {
    // padding: 10px 0;
    font-size: 26px;
}

.sub_title {
    padding: 5px 0;
    font-size: 16px;
    font-weight: normal;
}

.layout.footer {
    background-color: brown;
}

hr {
    height: 1px;
    border: 1px solid var(--secondary-color);
    margin: 10px 0;
}

.action-buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.action-buttons-container.center {
    justify-content: center;
}

.action-buttons-container.left {
    justify-content: flex-start;
}

// .event-type-circle-box {
//     width: 30px;
//     height: 30px;
//     line-height: 30px;
//     text-align: center;
//     color: transparent;
//     font-size: 22px;
//     border-radius: 50%;
// }

/* Default Styles for Input Elements */
input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

label {
    cursor: pointer;
}

/* Style for Focused Input Elements */
input:focus {
    border-color: #007bff;
    /* Change border color when focused */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    /* Add a shadow when focused */
}

/* Style for Disabled Input Elements */
input:disabled {
    background-color: #f2f2f2;
    /* Change background color when disabled */
    color: #999;
    /* Change text color when disabled */
    cursor: not-allowed;
    /* Change cursor style when disabled */
}

input::placeholder {
    color: #999;
}

input.is-invalid,
textarea.is-invalid,
select.is-invalid {
    border-color: #dc3545;
}

input:hover {
    background-color: #f9f9f9;
}

input.is-invalid,
textarea.is-invalid,
select.is-invalid {
    border-color: #dc3545 !important;
}

.invalid-feedback,
.invalid-feedback>Div {
    color: #dc3545 !important;
}

.page {
    padding: 20px 0;
}

.page.page-width-95p {
    width: 95%;
    // margin: 0 auto;
}

.page.page-width-85p {
    width: 85%;
    //margin: 0 auto;
}

.page.page-width-75p {
    width: 75%;
    // margin: 0 auto;
}

.page.page-width-65p {
    width: 65%;
    //margin: 0 auto;
}

.page.page-width-50p {
    width: 50%;
    // margin: 0 auto;
}

.page .header h2 {
    font-weight: bold;
    font-size: larger;
}

.page .body {
    padding: 10px;
}

.buttons-container-left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}

.buttons-container-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}

input,
textarea,
select {
    padding: 7px 5px;
}

.page .footer {
    padding: 30px 0;
    display: flex;
    justify-content: right;
}

.page .footer-left {
    padding: 30px 0;
    display: flex;
    justify-content: left;
}

.page .footer-center {
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.form-group {
    padding: 7px 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.form-group label {
    flex: 1;
    width: 100%;
    font-weight: 700;
}

.form-group .form-control {
    flex: 1;
    padding: 3px 0;
    width: 100%;
}

.form-group .form-control input,
.form-group .form-control textarea,
.form-group .form-control select {
    width: 100%;
    padding: 7px 5px;
}

.close-button {
    color: var(--primary-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover {
    color: var(--accent-color)
}

#modal-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    display: none;
    left: 0;
    top: 0;
    z-index: inherit;
    background-color: rgba(22, 22, 22, 0.5);
    background-repeat: repeat;

}

#modal-backdrop.is-open {
    display: block;
    visibility: visible;
}


.event-color-orange {
    background-color: var(--event-orange);
}

.event-color-green {
    background-color: var(--event-green);
}

.event-color-blue {
    background-color: var(--event-blue);
}

.event-color-cyan {
    background-color: var(--event-cyan);
}

.event-color-olive {
    background-color: var(--event-olive);
}

.event-color-purple {
    background-color: var(--event-purple);
}

.event-color-teal {
    background-color: var(--event-teal);
}

.event-color-violet {
    background-color: var(--event-violet);
}

// End Event colors


form.single-column {}

form.single-column .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form.single-column .form-group label {
    width: 100%;
    font-weight: 700;
}

form.single-column .form-group .form-control {
    width: 100%;
}




//anchor style
a {
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 16px;
    padding-bottom: 5px;
}

a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

a.is-active {
    border-color: var(--primary-color);
}

a.danger {
    cursor: pointer;
    color: var(--accent-color);
    text-decoration: none;
    font-size: 16px;
    padding-bottom: 5px;
}

a.danger:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

button>i.fa,
i.fas,
i.far {
    padding: 0 5px 0 0;
}

.width-50px {
    width: 50px;
}

.width-60px {
    width: 60px;
}

.width-70px {
    width: 70px;
}

.width-80px {
    width: 80px;
}

.width-90px {
    width: 90px;
}

.width-100px {
    width: 100px;
}

.width-110px {
    width: 110px;
}

.width-120px {
    width: 120px;
}

.width-130px {
    width: 130px;
}

.width-140px {
    width: 140px;
}

.width-150px {
    width: 150px;
}

.width-160px {
    width: 160px;
}

.width-170px {
    width: 170px;
}

.width-180px {
    width: 180px;
}

.width-190px {
    width: 190px;
}

.width-200px {
    width: 200px;
}

.width-50p {
    width: 50%;
}

.width-60p {
    width: 60%;
}

.width-70p {
    width: 70%;
}

.width-80p {
    width: 80%;
}

.width-90p {
    width: 90%;
}

.width-100p {
    width: 100%;
}

.width-10percent {
    width: 10%;
}

.width-20percent {
    width: 20%;
}

.width-30percent {
    width: 30%;
}

.width-40percent {
    width: 40%;
}

.width-50percent {
    width: 50%;
}

.width-60percent {
    width: 60%;
}

.width-70percent {
    width: 70%;
}

.width-80percent {
    width: 80%;
}

.width-90percent {
    width: 90%;
}

.width-100percent {
    width: 100%;
}