

<div [style.display]="isVisible?'block':'none'"  class="modal">
  <div [style.width]="modalWidth" [style.height]="modalHeight" class="modal-content">
      <span (click)="close()" class="close">&times;</span>
      <h2>{{modalTitle}}</h2>
      <hr>
      <div class="modal-content-body" *ngIf="modalContent">
          <ng-container *ngTemplateOutlet="modalContent"></ng-container>
      </div>
  </div>
</div>


<!-- 
<div *ngIf="isVisible" class="modal">
    <div [style.width]="modalWidth" [style.height]="modalHeight" class="modal-content">
        <span (click)="close()" class="close">&times;</span>
        <h2>{{modalTitle}}</h2>
        <hr>
        <div class="modal-content-body" *ngIf="modalContent">
            <ng-container *ngTemplateOutlet="modalContent"></ng-container>
        </div>
    </div>
</div> -->
