<div class="page">
    <form (ngSubmit)="onSubmit(formEventInfo)" #formEventInfo="ngForm">
        <div class="form-group">
            <label for="userName">Name *</label>
            <div class="form-control">
                <input type="text" autocomplete="off" spellcheck="false" #userName="ngModel" required
                    [(ngModel)]="model.userName" name="userName" minlength="3">
                <div *ngIf="submitted && userName.errors" class="invalid-feedback">
                    <div *ngIf="userName.errors['required']">Name is required</div>
                    <div *ngIf="userName.errors['minlength']">Name at-least 3 charecters</div>
                    <div *ngIf="userName.errors['incorrect']">{{userName.errors['incorrect']}}</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="welcomeText">Welcome Text</label>
            <div class="form-control">
                <textarea class="" #welcomeText="ngModel" maxlength="255" autocomplete="off" rows="3"
                    [(ngModel)]="model.welcomeText" name="welcomeText"></textarea>

            </div>
        </div>

        <div class="form-group">
            <label for="meetingDuration">Time Zone *</label>
            <div class="form-control">
                <app-timezone-control #timezoneControl [selectedTimeZone]="selectedTimeZone"
                 (selectionChanged)="onTimeZoneChanged($event)"
                    [showHourFormatChangeOption]="false"></app-timezone-control>
                <div *ngIf="submitted && !selectedTimeZone" class="invalid-feedback">
                    <div>Timezone is required</div>
                </div>
            </div>

        </div>
        <div class="footer">
            <button loading-indicator [loading]="isLoading" [disabled]="isLoading" (click)="onSubmit(formEventInfo)"
                class="btn btn-primary">
                Save Changes
            </button>
        </div>
    </form>
</div>