.weekday_name {
    font-weight: bold;
}

.section_overview {
    display: flex;
    justify-content: space-between;
    padding: 0 0 15px 0;
}

.section_overview .toggle_interval {
    display: flex;
}

.weekday_heading {
    font-weight: bold;
    height: 40px;
    text-align: center;
    background-color: white;
    padding: 10px 0;

}


.toggle_interval .toggle_interval_button {
    border: 1px solid lightgray;
    background-color: white;
    box-shadow: 1px solid cornflowerblue;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 5%);
}

.weekly_availability {
    display: flex;
    width: 100%;
    border: 1px solid lightgray;
}

.weekly_availability .weekly_days {
    width: 65%;
    padding: 15px;
}

.weekly_availability .weekly_days .weekly_day {
    display: flex;
    align-items: flex-start;
    border-top: 1px solid rgb(244, 225, 225);
    padding: 10px 0;
}

.weekly_availability .weekly_days .weekly_day .weekday_name {
    width: 120px;
}

.weekly_availability .weekly_days .weekly_day .weekday_name :checked {
    top: 2px;
    position: relative;
}

.intervals {
    width: 100%;
    position: relative;
    min-height: 30px;
}

.intervals .interval_item {
    width: 80%;
    padding-bottom: 10px;
}

.intervals .interval_item input[type=text] {
    width: 35%;
    border-radius: 5px;
}

.interval_item .delete_interval {
    margin-left: 10px;
    border-radius: 5px;
}

.intervals .add_more_item {
    margin-left: 15px;
    border-radius: 5px;
    top: 0;
    right: 15px;
    position: absolute
}

.intervals .add_more_item i {
    font-size: 18px;
}

.intervals .add_more_item i:hover {
    opacity: .7;
}

.override_date_intervals {
    width: 370px;
}

.interval_list_grid .interval_list_grid_item {
    padding-bottom: 7px;
}

.interval_list_grid input[type=text] {
    width: 150px;
}

.weekly_availability .overrides_dates {
    width: 35%;
    padding: 15px;
    border-left: 1px solid lightgray;
}

.weekly_availability .overrides_dates .btn_open_calendar {
    width: 100%;
    background-color: azure;
    color: blue;
    margin: 10px 0;
    border-radius: 5px;
}

.weekly_availability .overrides_dates .timeinterval_overrides {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 20px;
    border-top: 1px solid lightgray;
    position: relative;
    width: 109%;
    left: -15px;
    cursor: pointer;
}

.weekly_availability .overrides_dates .timeinterval_overrides:hover {
    background-color: azure;
}

.weekly_availability .overrides_dates .timeinterval_overrides:last-child {
    border-bottom: 1px solid lightgray;
}

.weekly_availability .overrides_dates .timeinterval_overrides .timeslots {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.modal-override-dates {

    position: absolute;
    width: 400px;
    left: 40%;
    top: 25%;
    visibility: hidden;
    z-index: 100;
    background-color: wheat;
    padding: 10px 8px;
}

.modal-override-dates.is-open {
    visibility: visible;
}

.modal-override-day {
    position: absolute;
    width: 400px;
    left: 40%;
    top: 25%;
    visibility: hidden;
    z-index: 100;
    background-color: wheat;
    padding: 10px 8px;
}

.modal-override-day.is-open {
    visibility: visible;
}

.monthly_view_container {}

.monthly_view_container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 15px 0px;
    font-size: 15px;

}

.monthly_view_container .header .calendar_nav button {
    padding: 2px 10px;
}

.monthly_view_container .header .calendar_nav i {
    font-size: 25px;
}

.daysInMonth {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgray;
}

.daysInMonth>* {
    flex: 1 1 14%;


}

.daysInMonth .dayInMonth-item {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    background-color: white;
    padding: 7px 5px;
    position: relative;
    height: 120px;
    display: flex;
    flex-direction: column;
    // margin: 1px;
}

.daysInMonth .dayInMonth-item.override_interval {
    border-top: 2px solid blue;
}

.daysInMonth .dayInMonth-item .heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 3px 10px 5px;
}

.daysInMonth .dayInMonth-item:hover:not([disabled]) {
    background-color: rgb(218, 218, 239);
    border: 2px solid blue;
}

.daysInMonth .dayInMonth-item:hover:disabled {
    cursor: default;
}

.daysInMonth .dayInMonth-item:nth-child(1) {
    border-top: 1px solid greenyellow;
}

.daysInMonth .dayInMonth-item .action_buttons {
    display: none;
    position: absolute;
    width: 200px;
    left: 30px;
    bottom: -30px;
    z-index: 1;
}

.action_buttons .dropdown_menu {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    flex-wrap: nowrap;
    align-items: flex-start;

}


.dropdown_menu li {
    padding: 10px;
    cursor: pointer;
}

.dropdown_menu li:hover {
    opacity: .7;
}

.dropdown_menu li i {
    padding-right: 10px;
}

.daysInMonth .dayInMonth-item .action_buttons.is_open {
    display: block;
}

button {
    cursor: pointer;
}