<form (ngSubmit)="onSubmit(formAvailability)" #formAvailability="ngForm">
    <div class="page">
        <div class="header">
            <h2>Set your working hours</h2>
        </div>
        <div class="body">
            <datalist id="time_slots">
                <option value="12:00am"></option>
                <option value="12:15am"></option>
                <option value="12:30am"></option>
                <option value="12:45am"></option>
                <option value="1:00am"></option>
                <option value="1:15am"></option>
                <option value="1:30am"></option>
                <option value="1:45am"></option>
                <option value="2:00am"></option>
                <option value="2:15am"></option>
                <option value="2:30am"></option>
                <option value="2:45am"></option>
                <option value="3:00am"></option>
                <option value="3:15am"></option>
                <option value="3:30am"></option>
                <option value="3:45am"></option>
                <option value="4:00am"></option>
                <option value="4:15am"></option>
                <option value="4:30am"></option>
                <option value="4:45am"></option>
                <option value="5:00am"></option>
                <option value="5:15am"></option>
                <option value="5:30am"></option>
                <option value="5:45am"></option>
                <option value="6:00am"></option>
                <option value="6:15am"></option>
                <option value="6:30am"></option>
                <option value="6:45am"></option>
                <option value="7:00am"></option>
                <option value="7:15am"></option>
                <option value="7:45am"></option>
                <option value="8:00am"></option>
                <option value="8:15am"></option>
                <option value="8:30am"></option>
                <option value="8:45am"></option>
                <option value="9:00am"></option>
                <option value="9:15am"></option>
                <option value="9:30am"></option>
                <option value="9:45am"></option>
                <option value="10:00am"></option>
                <option value="10:15am"></option>
                <option value="10:30am"></option>
                <option value="10:45am"></option>
                <option value="11:00am"></option>
                <option value="11:15am"></option>
                <option value="11:30am"></option>
                <option value="11:45am"></option>
                <option value="12:00pm"></option>
                <option value="12:00pm"></option>
                <option value="12:15pm"></option>
                <option value="12:30pm"></option>
                <option value="12:45pm"></option>
                <option value="1:00pm"></option>
                <option value="1:15pm"></option>
                <option value="1:30pm"></option>
                <option value="1:45pm"></option>
                <option value="2:00pm"></option>
                <option value="2:15pm"></option>
                <option value="2:30pm"></option>
                <option value="2:45pm"></option>
                <option value="3:00pm"></option>
                <option value="3:15pm"></option>
                <option value="3:30pm"></option>
                <option value="3:45pm"></option>
                <option value="4:00pm"></option>
                <option value="4:15pm"></option>
                <option value="4:30pm"></option>
                <option value="4:45pm"></option>
                <option value="5:00pm"></option>
                <option value="5:15pm"></option>
                <option value="5:30pm"></option>
                <option value="5:45pm"></option>
                <option value="6:00pm"></option>
                <option value="6:15pm"></option>
                <option value="6:30pm"></option>
                <option value="6:45pm"></option>
                <option value="7:00pm"></option>
                <option value="7:15pm"></option>
                <option value="7:45pm"></option>
                <option value="8:00pm"></option>
                <option value="8:15pm"></option>
                <option value="8:30pm"></option>
                <option value="8:45pm"></option>
                <option value="9:00pm"></option>
                <option value="9:15pm"></option>
                <option value="9:30pm"></option>
                <option value="9:45pm"></option>
                <option value="10:00pm"></option>
                <option value="10:15pm"></option>
                <option value="10:30am"></option>
                <option value="10:45am"></option>
                <option value="11:00pm"></option>
                <option value="11:15pm"></option>
                <option value="11:30pm"></option>
                <option value="11:45pm"></option>
                <option value="12:00pm"></option>
            </datalist>
            <div class="form-group">
                <label for="name">Data Range - in future days *</label>
                <div class="form-control">
                    <input type="text" id="forwardDuration" required [(ngModel)]="forwardDurationInDays"
                        name="forwardDuration">
                </div>
            </div>

            <div class="form-group">
                <label for="meetingDuration">Duration:</label>
                <div class="form-control">
                    <select id="meetingDuration" name="meetingDuration" [(ngModel)]="model.duration">
                        <option [value]="meetingDuration.value" *ngFor="let meetingDuration of meetingDurations">
                            {{meetingDuration.text}}</option>
                    </select>
                </div>
            </div>
            <div class="working-hour-options-menu">
                <button [ngClass]="!isCustomAvailability?'toggle_button':''"
                    (click)="onClickExistingHours($event)">Existing
                    Working Hours</button>
                <button [ngClass]="isCustomAvailability?'toggle_button':''" (click)="onClickCustomHour($event)">Custom
                    Working hour</button>
            </div>

            <div [style.display]="!isCustomAvailability?'block':'none'">
                <div class="form-group">

                    <label for="availability">Availability:</label>
                    <div class="form-control">
                        <select id="availability" (change)="onChangeAvailability()" name="availability"
                            class="form-control" [(ngModel)]="selectedAvailability">
                            <option [ngValue]="availabilityItem" *ngFor="let availabilityItem of listOfAvailability">
                                {{availabilityItem.name}}</option>
                        </select>
                    </div>
                </div>
                <app-time-availability #timeAvailabilityControl viewMode="readonly"></app-time-availability>
            </div>
            <app-time-availability #timeAvailabilityControlCustom
                [style.display]="isCustomAvailability?'block':'none'"></app-time-availability>

        </div>
        <div class="footer">
            <input type="button" class="btn btn-default" value="Cancel" (click)="onCancel($event)" />
            <button type="submit" class="btn btn-primary" [disabled]="!formAvailability.form.valid">Save
                Changes</button>
        </div>
    </div>
</form>