<form (ngSubmit)="onSubmit(formAvailability)" #formAvailability="ngForm">
    <div class="page">
        <div class="header">
            <h2>Set your availability</h2>
        </div>
        <div class="body">
            <div class="form-group">
                <label for="forwardDuration">In future days - User can book an appointment in advance *</label>
                <div class="form-control">
                    <input type="text" id="forwardDuration" required #forwardDuration="ngModel"
                        [(ngModel)]="forwardDurationInDays" name="forwardDuration"
                        [ngClass]="{ 'is-invalid': submitted && forwardDuration.errors }">
                    <div *ngIf="submitted && forwardDuration.errors" class="invalid-feedback">
                        <div *ngIf="forwardDuration.errors['required']">This is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">

                <label for="availability">Availability:</label>
                <div class="form-control">
                    <select id="availability" (change)="onChangeAvailability()" name="availability" class="form-control"
                        [(ngModel)]="selectedAvailability">
                        <option [ngValue]="availabilityItem" *ngFor="let availabilityItem of listOfAvailability">
                            {{availabilityItem.name}}</option>
                        <option disabled>--------------------------</option>
                        <option [ngValue]=undefined>Custom Schedule</option>
                    </select>
                </div>
            </div>
            <app-time-availability #timeAvailabilityControl [style.display]="!isCustomAvailability?'block':'none'"
                viewMode="readonly"></app-time-availability>
            <app-time-availability #timeAvailabilityControlCustom
                [style.display]="isCustomAvailability?'block':'none'"></app-time-availability>

        </div>
        <hr>
        <div class="action-buttons-container center padding-top-10 padding-bottom-10">
            <button loading-indicator [loading]="isLoading" [disabled]="isLoading" (click)="onCancel($event)">
                <i class="fas fa-undo"></i>
                Cancel Changes
            </button>
            <button loading-indicator [loading]="isLoading" [disabled]="isLoading" (click)="onSubmit($event)"
                class="primary">
                <i class="fa fa-save"></i>
                Save Changes
            </button>

        </div>
    </div>
</form>