hr {
    border: 1px solid whitesmoke;
}

.time-intervals-container {
    display: flex;
    margin: 10px 0;
}

.time-intervals-container .time-intervals-weekly-container {
    flex: 1.5
}

.time-intervals-container .time-intervals-date-override-container {
    flex: 1;
    background-color: gray;
}

.modal-override-dates {
    position: absolute;
    width: 400px;
    /* min-height: 400px; */
    left: 40%;
    top: 25%;
    visibility: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    z-index: 100;
    background-color: red;
}

.modal-override-dates.is-open {
    visibility: visible;
}

.modal-override-dates .override-toolbar {
    display: flex;
    padding: 15px 5px;
    justify-content: space-evenly;
    align-items: center;
}

.modal-override-dates .override-time-intervals {
    padding: 10px 10px;
    background-color: lightgray;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.daily_time_interval_container {
    display: flex;
    align-items: start;
    padding: 4px 10px;
    width: 100%;
    justify-content: space-between;
}

.daily_time_interval_container .interval_list_grid {
    width: 80%;
}

.interval_list_grid input[type=text] {
    width: 100%;
}

.toggle_button {
    border: 1px solid lightgray;
    background-color: white;
    box-shadow: 1px solid cornflowerblue;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 5%);
}