<p>daily-time-intervals works!</p>
    <div *ngIf="timeIntervalsInDay?.isAvailable ">
        Not available
    </div>

    <div *ngIf="timeIntervalsInDay?.isAvailable">
        <div *ngFor="let timeInterval of timeIntervalsInDay?.intervals; let i=index">
            <table>
                <tr>
                    <td style="width: 70px;">
                        <input type="text"
                            [id]="'startTime_'+[timeIntervalsInDay?.day]+''+i"
                            [name]="'startTime_'+[timeIntervalsInDay?.day]+''+i"
                            list="time_slots" [(ngModel)]="timeInterval.startTime" required
                            (focusout)="onLostFocus($event,i,false,timeIntervalsInDay!)">
                    </td>
                    <td>-</td>
                    <td style="width: 70px;">
                        <input type="text" list="time_slots" [(ngModel)]="timeInterval.endTime"
                            [id]="'endTime_'+[timeIntervalsInDay?.day]+''+i"
                            [name]="'endTime_'+[timeIntervalsInDay?.day]+''+i" required
                            (focusout)="onLostFocus($event,i,true,timeIntervalsInDay!)">
                    </td>
                    <td><input type="button" value="Delete"
                            (click)="onRemoveTimeInterval(i,timeIntervalsInDay!)" /></td>

                </tr>
                <tr>
                    <td colspan="3" *ngIf="timeInterval.errorMessage" colspan="3">
                        {{timeInterval.errorMessage}}</td>
                </tr>
            </table>
        </div>
    </div>
<!-- <td valign="top" style="width: 100px;">
    <input type="button" value="Add" (click)="onAddTimeInterval(timeIntervalsInDay!)" />
</td> -->
