<h1>Appointment List</h1>
<div class="data-filter-wrapper">
  <div class="data-searchby-wrapper">
    <div class="data-searchby-time-items">
      <!-- <button (click)="onFilterDateOptionClick('upcoming')">Upcoming</button>
      <button (click)="onFilterDateOptionClick('past')">Past</button>
      <button #toggleButtonDateRangeSelectionWindow (click)="onFilterByDateRangeClick()">Date Range</button> -->
      <a [class.is-active]="this.searchByDateOption=='upcoming'"
        (click)="onFilterDateOptionClick('upcoming')">Upcoming</a>
      <a [class.is-active]="this.searchByDateOption=='past'" (click)="onFilterDateOptionClick('past')">Past</a>
      <span >
        <a [class.is-active]="this.searchByDateOption=='daterange'" #toggleButtonDateRangeSelectionWindow
        (click)="onFilterByDateRangeClick()">Date Range</a>
        <span [class.is-open-filter]="showDateSelectionWidget" class="arrow-icon">▼</span>
      </span>
      
    </div>
    <div class="data-toolbar-items">
      <button>Export</button>
      <button  (click)="onToggleFilterMenu()">Filter
        <span [class.is-open-filter]="showFilterMenu" class="arrow-icon">▼</span>
      </button>
    </div>

  </div>
  <div #dateRangeSelectionWindow [style.display]="showDateSelectionWidget?'block':'none'"
    class=" date-range-selection-wrapper">
    <div class="">
      <div class="date-range-calendar-wrapper">
        <app-multi-calendar #multiCalendar (SelectedDatesChanged)="onSelectedDatesChanged($event)"></app-multi-calendar>
      </div>
      <div>
        <button (click)=" onCancelDateRangeFilter()">Cancel</button>
        <button [disabled]="!isValidDateRange" (click)="onApplyFilterByDateRange()">Apply</button>
      </div>
    </div>
  </div>
  <div *ngIf="showFilterMenu" class="data-filterby-items">

    <div  class="data-filterby-item">

      <label class="field-label">Event Type</label>
      <div   class="filter-column-container">
        <a #toggleButtonEventTypesFilterWindow class="overly-opener" (click)="onToggleEventTypesFilterWindow($event)">
          {{filterByEventTypeText}}
        </a>
        <span [class.is-open-filter]="filterByEventTypeYN" class="arrow-icon">▼</span>
      </div>
      <div *ngIf="filterByEventTypeYN" class="overlay">
        <div #eventTypesFilterWindow class="overlay-content">
          <form [formGroup]="entityTypesFilterForm">
            <div *ngFor="let entityTypeControl of entityTypeListControls; let i = index;"
              formArrayName="entityTypesList">
              <div [formGroupName]="i">
                <input type="checkbox" formControlName="isSelected">
                {{ entityTypeControl.get('entityText')?.value }}
              </div>
            </div>
            <div class="actions">
              <button (click)="onEventTypeCancelFilter()">Cancel </button>
              <button (click)="onEventTypeApplyFilter()">Apply</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="data-filterby-item">
      <label class="field-label">Status</label>
      <div   class="filter-column-container">
        <a #toggleButtonAppointmentStatusByFilterWindow class="overly-opener"
          (click)="onToggleAppointmentStatusFilterWindow($event)">
          {{filterByStatusText}}
        </a>
        <span [class.is-open-filter]="filterByAppointmentStatusYN" class="arrow-icon">▼</span>
      </div>
      <div *ngIf="filterByAppointmentStatusYN" class="overlay">
        <div #appointmentStatusByFilterWindow class="overlay-content">
          <form [formGroup]="statusListFilterForm">
            <div *ngFor="let statusControl of statusListControls; let i = index" formArrayName="statusList">
              <div [formGroupName]="i">
                <input type="checkbox" formControlName="isSelected">
                {{ statusControl.get('statusText')?.value }}
              </div>
            </div>
            <div class="actions">
              <button (click)="onCancelStatusFilter()">Cancel </button>
              <button (click)="onApplyStatusFilter()">Apply</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="data-filterby-item">
      <label class="field-label">Invitee Emails</label>
      <div class="filter-column-container">
        <a #toggleButtonInviteeEmailByFilterWindow class="overly-opener"
        (click)="onToggleInviteeEmailFilterWindow()"
        >
          All Invitee Emails
        </a>
        <span [class.is-open-filter]="filterByInviteeEmailYN"  class="arrow-icon">▼</span>
      </div>
      <div *ngIf="filterByInviteeEmailYN" class="overlay">
        <div #inviteeEmailByFilterWindow class="overlay-content">
          <!-- <form [formGroup]="statusListFilterForm">
            <div *ngFor="let statusControl of statusListControls; let i = index" formArrayName="statusList">
              <div [formGroupName]="i">
                <input type="checkbox" formControlName="isSelected">
                {{ statusControl.get('statusText')?.value }}
              </div>
            </div> -->
            <div class="actions">
              <button (click)="onCancelInviteeEmailFilter()">Cancel </button>
              <button (click)="onApplyInviteeEmailFilter()">Apply</button>
            </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
    <div class="data-filterby-item">
      <label class="field-label">&nbsp;</label>
      <a (click)="onClearFilter()">Clear Filters</a>
    </div>
  </div>
</div>

<ng-container *ngFor="let appointmentsByDate of appointmentsPaginationResult?.result; let i = index;">
  <div>
    <h2>{{appointmentsByDate.date}}</h2>
    <ul>
      <li *ngFor="let appointment of appointmentsByDate.appointments; let i = index;">
        <div class="appointment-header" (click)="onToggleAppointmentDetails(appointment)">
          <span class="date-time">{{appointment.appointmentDateTime}}</span>
          <span class="event-type">{{appointment.eventTypeTitle}}</span>
          <span class="invitee-name">{{appointment.inviteeName}}</span>
          <span class="invitee-name">{{appointment.status}}</span>
          <span class="toggle-icon"
            [ngClass]="{'expanded': appointment.isExpanded, 'collapsed': !appointment.isExpanded}">+</span>
        </div>
        <div class="appointment-details"
          [ngClass]="{'expanded': appointment.isExpanded,'collapsed': !appointment.isExpanded}">
          <label>Cancellation Reason</label>
          <textarea [(ngModel)]="appointment.cancellationReason" placeholder="Reason"></textarea>
          <div class="actions">
            <button *ngIf="appointment.status==='active'" class="cancel-button"
              (click)="onCancelAppointment(appointment)">Cancel</button>
            <button *ngIf="appointment.status==='active'" class="reschedule-button"
              (click)="onRescheduleAppointment(appointment.id)">Reschedule</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ng-container>
<hr>
<div *ngIf="appointmentsPaginationResult" class="pagination-container">
  <div class="page-links">

    <button (click)="onPagerLinkClick(1)"
      [disabled]="appointmentsPaginationResult.paginationInfo.isFirstPage">&lt;&lt;</button>
    <button (click)="onPagerLinkClick(appointmentsPaginationResult.paginationInfo.pageNumber-1)"
      [disabled]="appointmentsPaginationResult.paginationInfo.isFirstPage">&lt;</button>
    <button *ngFor="let pageLink of appointmentsPaginationResult.paginationInfo.pagerLinks;let i = index;"
      (click)="onPagerLinkClick(pageLink)">{{pageLink}}</button>
    <button (click)="onPagerLinkClick(appointmentsPaginationResult.paginationInfo.pageNumber+1)"
      [disabled]="appointmentsPaginationResult.paginationInfo.isLastPage">&gt;</button>
    <button (click)="onPagerLinkClick(appointmentsPaginationResult.paginationInfo.totalPages)"
      [disabled]="appointmentsPaginationResult.paginationInfo.isLastPage">&gt;&gt;</button>

  </div>
  <div class="page-info">
    {{appointmentsPaginationResult.paginationInfo.currentPageDataRangeText}}
  </div>
</div>