<h1>Appointment List</h1>
<div class="meetme-card secondary data-filter-wrapper">
  <div class="data-searchby-wrapper">
    <div class="data-searchby-time-items">
      <a [class.is-active]="this.searchByDateOption=='upcoming'"
        (click)="onFilterDateOptionClick('upcoming')">Upcoming</a>
      <a [class.is-active]="this.searchByDateOption=='past'" (click)="onFilterDateOptionClick('past')">Past</a>
      <span>
        <a [class.is-active]="this.searchByDateOption=='daterange'" #toggleButtonDateRangeSelectionWindow
          (click)="onFilterByDateRangeClick()">Date Range</a>
        <span [class.is-open-filter]="showDateSelectionWidget" class="arrow-icon">▼</span>
      </span>

    </div>
    <div class="data-toolbar-items">
      <button>Export</button>
      <button (click)="onToggleFilterMenu()">Filter
        <span [class.is-open-filter]="showFilterMenu" class="arrow-icon">▼</span>
      </button>
    </div>

  </div>
  <div #dateRangeSelectionWindow [style.display]="showDateSelectionWidget?'block':'none'"
    class="date-range-selection-wrapper">
    <h2>Date Selection</h2>
    <div class="date-range-calendar-wrapper ">

      <app-multi-calendar #multiCalendar (DateSelectionChanged)="onSelectedDatesChanged($event)"
        (DatePeriodChanged)="onDatePeriodChanged($event)" (CancelDateSelection)="onCancelDateSelection()">
      </app-multi-calendar>
    </div>

  </div>
  <div *ngIf="showFilterMenu" class="data-filterby-items">

    <div class="data-filterby-item">

      <label class="field-label">Event Type</label>
      <div class="filter-column-container">
        <a #toggleButtonEventTypesFilterWindow class="overly-opener" (click)="onToggleEventTypesFilterWindow($event)">
          {{filterByEventTypeText}}
        </a>
        <span [class.is-open-filter]="filterByEventTypeYN" class="arrow-icon">▼</span>
      </div>
      <div *ngIf="filterByEventTypeYN" class="overlay">
        <div #eventTypesFilterWindow class="overlay-content">
          <h4>Event Types</h4>
          <hr>
          <form [formGroup]="entityTypesFilterForm" class="filter-by-checkbox-list">
            <div *ngFor="let entityTypeControl of entityTypeListControls; let i = index;"
              formArrayName="entityTypesList">
              <div [formGroupName]="i">
                <label for="{{i}}">
                  <input type="checkbox" id="{{i}}" name="{{i}}" class="filter-by-checkbox"
                    formControlName="isSelected">
                  {{ entityTypeControl.get('entityText')?.value }}
                </label>
              </div>
            </div>
            <hr>
            <div class="action-buttons-container">
              <button (click)="onEventTypeCancelFilter()">Cancel </button>
              <button class="primary" (click)="onEventTypeApplyFilter()">Apply</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="data-filterby-item">
      <label class="field-label">Status</label>
      <div class="filter-column-container">
        <a #toggleButtonAppointmentStatusByFilterWindow class="overly-opener"
          (click)="onToggleAppointmentStatusFilterWindow($event)">
          {{filterByStatusText}}
        </a>
        <span [class.is-open-filter]="filterByAppointmentStatusYN" class="arrow-icon">▼</span>
      </div>
      <div *ngIf="filterByAppointmentStatusYN" class="overlay">
        <div #appointmentStatusByFilterWindow class="overlay-content">
          <h4>Appointment Status</h4>
          <hr>
          <form [formGroup]="statusListFilterForm" class="filter-by-checkbox-list">
            <div *ngFor="let statusControl of statusListControls; let i = index" formArrayName="statusList">
              <div [formGroupName]="i">
                <label for="{{i}}">
                  <input type="checkbox" id="{{i}}" name="{{i}}" formControlName="isSelected">
                  {{ statusControl.get('statusText')?.value }}
                </label>
              </div>
            </div>
            <hr>
            <div class="action-buttons-container">
              <button (click)="onCancelStatusFilter()">Cancel </button>
              <button class="primary" (click)="onApplyStatusFilter()">Apply</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="data-filterby-item">
      <label class="field-label">Invitee Emails</label>
      <div class="filter-column-container">
        <a #toggleButtonInviteeEmailByFilterWindow class="overly-opener" (click)="onToggleInviteeEmailFilterWindow()">
          All Invitee Emails
        </a>
        <span [class.is-open-filter]="filterByInviteeEmailYN" class="arrow-icon">▼</span>
      </div>
      <div *ngIf="filterByInviteeEmailYN" class="overlay">
        <div #inviteeEmailByFilterWindow class="overlay-content">
          <h4>Invitee Emails</h4>
          <!-- <form [formGroup]="statusListFilterForm">
            <div *ngFor="let statusControl of statusListControls; let i = index" formArrayName="statusList">
              <div [formGroupName]="i">
                <input type="checkbox" formControlName="isSelected">
                {{ statusControl.get('statusText')?.value }}
              </div>
            </div> -->
          <hr>
          <div class="actions">
            <button (click)="onCancelInviteeEmailFilter()">Cancel </button>
            <button (click)="onApplyInviteeEmailFilter()">Apply</button>
          </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
    <div class="data-filterby-item">
      <label class="field-label">&nbsp;</label>
      <a (click)="onClearFilter()">Clear Filters</a>
    </div>
  </div>
</div>
<div class="meetme-card">

  <div class="data-table-header-into">
    <h2>
      {{selectedDateRangeText}}
    </h2>
    <div class="page-info">
      {{appointmentsPaginationResult?.paginationInfo?.currentPageDataRangeText}}
    </div>
  </div>
  <div *ngIf="appointmentsPaginationResult?.result?.length==0" class="no-data-found">
    <h1>No Data</h1>
  </div>
  <ng-container *ngFor="let appointmentsByDate of appointmentsPaginationResult?.result; let i = index;">
    <div class="appointment-list-container">
      <!-- <div class="appointment-date-name-title">{{appointmentsByDate.date}}</div> -->
      <div class="appointment-date-name-title">
        <h3>{{appointmentsByDate.date}}</h3>
      </div>
      <ul>
        <li *ngFor="let appointment of appointmentsByDate.appointments; let i = index;">

          <ng-container
            *ngTemplateOutlet="appointmentEventDetailsTemplate; context: {appointmentEventDetails: appointment}"></ng-container>
        </li>
      </ul>
    </div>
  </ng-container>

  <hr>
  <div *ngIf="appointmentsPaginationResult" class="pagination-container">
    <div class="pager-links">

      <button (click)="onPagerLinkClick(1)"
        [disabled]="appointmentsPaginationResult.paginationInfo.isFirstPage">&lt;&lt;</button>
      <button (click)="onPagerLinkClick(appointmentsPaginationResult.paginationInfo.pageNumber-1)"
        [disabled]="appointmentsPaginationResult.paginationInfo.isFirstPage">&lt;</button>
      <button *ngFor="let pageLink of appointmentsPaginationResult.paginationInfo.pagerLinks;let i = index;"
        [class.special]="i==appointmentsPaginationResult.paginationInfo.pageNumber-1"
        (click)="onPagerLinkClick(pageLink)">{{pageLink}}</button>
      <button (click)="onPagerLinkClick(appointmentsPaginationResult.paginationInfo.pageNumber+1)"
        [disabled]="appointmentsPaginationResult.paginationInfo.isLastPage">&gt;</button>
      <button (click)="onPagerLinkClick(appointmentsPaginationResult.paginationInfo.totalPages)"
        [disabled]="appointmentsPaginationResult.paginationInfo.isLastPage">&gt;&gt;</button>

    </div>

  </div>
</div>

<ng-template #appointmentEventDetailsTemplate let-appointmentEventDetails="appointmentEventDetails">
  <div class="appointment-data-container">
    <div (click)="onToggleAppointmentDetails(appointmentEventDetails)" class="appointment-data-header-row">
      <div class="event-type-circle-box event-color-{{appointmentEventDetails.eventTypeColor}}"></div>
      <div [ngClass]="{'cancelled': appointmentEventDetails.status=='cancelled'}" class="appointment-time">
        {{appointmentEventDetails.appointmentTimeSlot}}</div>

      <div class="appointment-summary-container">
        <div [ngClass]="{'cancelled': appointmentEventDetails.status=='cancelled'}" class="appointment-summary">
          With <strong> {{appointmentEventDetails.inviteeName}}</strong>
          <br>
          Event Type <strong> {{appointmentEventDetails.eventTypeTitle}}</strong>
        </div>
        <div class="cancellation-summary" *ngIf="appointmentEventDetails.status=='cancelled'">
          <span class="cancelled-by">Cancelled by {{appointmentEventDetails.inviteeName}}</span> :
          {{!appointmentEventDetails.cancellationReason?'No reason provided':
          appointmentEventDetails.cancellationReason}}
        </div>
      </div>
      <span>Details
        <span [class.is-open-filter]="appointmentEventDetails.isExpanded" class="arrow-icon">▼</span>
      </span>
    </div>
    <div class="appointment-data-details-row"
      [ngClass]="{'expanded': appointmentEventDetails.isExpanded,'collapsed': !appointmentEventDetails.isExpanded}">
      <div class="appointment-details-row-container">
        <div class="appointment-details-column-actions">
          <div *ngIf="appointmentEventDetails.status==='active'" class="appointment-data-edit-actionbar">
            <button class="special" (click)="onToggleCancelAppointmentWindow(appointmentEventDetails)">Cancel
              Appointment</button>
            <button (click)="onRescheduleAppointment(appointmentEventDetails.id)">Reschedule</button>
          </div>
          <div>
            <button (click)="onClickFilterByEvenTypeId(appointmentEventDetails.eventTypeId)">Filter by Event
              Type</button>
          </div>
        </div>
        <div class="appointment-details-column-data">
          <div class="appointmentDetails-body-item">
            <label>Invitee Email</label>
            <span>{{appointmentEventDetails.inviteeEmail}}</span>
          </div>
          <div class="appointmentDetails-body-item">
            <label>Location</label>
            <span>{{appointmentEventDetails.eventTypeLocation}}</span>
          </div>
          <div class="appointmentDetails-body-item">
            <label>Invitee Time Zone</label>
            <span>{{appointmentEventDetails.inviteeTimeZone}}</span>
          </div>
          <div class="appointmentDetails-body-item">
            <label>Questions</label>
            <ul class="questionnaires">
              <li *ngFor="let questionnaireItem of appointmentEventDetails.questionnaires;let i=index;">
                <label><strong>{{i+1}}. </strong>{{questionnaireItem.questionName}}</label>
                <span>{{questionnaireItem.answer}}</span>
              </li>
            </ul>
          </div>
          <div class="appointmentDetails-body-item">
            <label>Notes</label>
            <span>{{appointmentEventDetails.note}}</span>
          </div>

          <div class="appointmentDetails-body-item">
            <label>Meeting Host</label>
            <span>{{appointmentEventDetails.eventOwnerName}}</span>
          </div>
          <div class="appointmentDetails-body-item">
            <label>Created at</label>
            <span>{{appointmentEventDetails.dateCreatedFormattedText}}</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</ng-template>
<app-my-modal [isVisible]="showCancelAppointmentWindowYN" modalTitle="Cancel Appointment" [modalWidth]="'500px'"
  (closeModal)="onToggleCancelAppointmentWindow(undefined)">
  <ng-template #modalContent>
    <form>
      <div class="form-group">
        <label for="cancellationReason">Cancellation Reason</label>
        <div class="form-control">
          <textarea rows="5" #description="ngModel" [(ngModel)]="selectedAppointmentItem!.cancellationReason"
            id="cancellationReason" name="cancellationReason" autocomplete="off" required [minlength]="3"></textarea>
        </div>
      </div>
    </form>
    <hr>
    <div class="action-buttons-container">
      <button (click)="onToggleCancelAppointmentWindow(undefined)">Close</button>
      <button class="primary" (click)="onCancelAppointment()">OK</button>
    </div>
  </ng-template>
</app-my-modal>