<h1>Appointment List</h1>
<div class="data-filter-wrapper">
  <div class="data-searchby-wrapper">
    <div class="data-searchby-time-items">
      <button (click)="onFilterDateOptionClick('upcoming')">Upcoming</button>
      <button (click)="onFilterDateOptionClick('past')">Past</button>
      <button (click)="onFilterDateOptionClick('daterange')">Date Range</button>
    </div>
    <div class="data-toolbar-items">
      <button>Export</button>
      <button (click)="onToggleFilterMenu()">Filter</button>
    </div>
  </div>
  <div *ngIf="showFilterMenu" class="data-filterby-items">
    <div class="data-filterby-item">
      <label class="field-label">Event Type</label>
      <span #toggleButtonEventTypesFilterWindow class="overly-opener" (click)="toggleEventTypesFilterWindow($event)">
        {{filterByEventTypeText}}
      </span>
      <div *ngIf="filterByEventTypeYN" class="overlay">
        <div #eventTypesFilterWindow class="overlay-content">
          <form [formGroup]="entityTypesFilterForm">
            <div *ngFor="let entityTypeControl of entityTypeListControls; let i = index;"
              formArrayName="entityTypesList">
              <div [formGroupName]="i">
                <input type="checkbox" formControlName="isSelected">
                {{ entityTypeControl.get('entityText')?.value }}
              </div>
            </div>
            <div class="actions">
              <button (click)="onCancelFilter()">Cancel </button>
              <button (click)="onApplyFilter()">Apply</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="data-filterby-item">
      <label class="field-label">Status</label>
      <span #toggleButtonAppointmentStatusByFilterWindow class="overly-opener"
        (click)="toggleAppointmentStatusFilterWindow($event)">
        {{filterByStatusText}}
      </span>
      <div *ngIf="filterByAppointmentStatusYN" class="overlay">
        <div #appointmentStatusByFilterWindow class="overlay-content">
          <form [formGroup]="statusListFilterForm">
            <div *ngFor="let statusControl of statusListControls; let i = index" formArrayName="statusList">
              <div [formGroupName]="i">
                <input type="checkbox" formControlName="isSelected">
                {{ statusControl.get('statusText')?.value }}
              </div>
            </div>
            <div class="actions">
              <button (click)="onCancelStatusFilter()">Cancel </button>
              <button (click)="onApplyStatusFilter()">Apply</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="data-filterby-item">
      <span>Invitee Emails</span>
    </div>
    <div class="data-filterby-item">
      <button (click)="onClearFilter()">Clear Filters</button>
    </div>
  </div>
</div>
<div *ngIf="appointmentsPaginationResult" class="pagination-container">
  <div class="page-links">
    <button (click)="onPageLinkClick(1)"
      [disabled]="appointmentsPaginationResult.paginationInfo.isFirstPage">First</button>
    <button (click)="onPageLinkClick(appointmentsPaginationResult.paginationInfo.pageNumber-1)"
      [disabled]="appointmentsPaginationResult.paginationInfo.isFirstPage">Previous</button>
    <button *ngFor="let pageLink of appointmentsPaginationResult.paginationInfo.pagerLinks;let i = index;"
      (click)="onPageLinkClick(pageLink)">{{pageLink}}</button>
    <button (click)="onPageLinkClick(appointmentsPaginationResult.paginationInfo.pageNumber+1)"
      [disabled]="appointmentsPaginationResult.paginationInfo.isLastPage">Next</button>
    <button (click)="onPageLinkClick(appointmentsPaginationResult.paginationInfo.totalPages)"
      [disabled]="appointmentsPaginationResult.paginationInfo.isLastPage">Last</button>
  </div>
  <div class="page-info">
    {{appointmentsPaginationResult.paginationInfo.currentPageDataRangeText}}
  </div>
</div>
<ng-container *ngFor="let appointmentsByDate of appointmentsPaginationResult?.result; let i = index;">
  <div>
    <h2>{{appointmentsByDate.date}}</h2>
    <ul>
      <li *ngFor="let appointment of appointmentsByDate.appointments; let i = index;">
        <div class="appointment-header" (click)="toggleDetails(appointment)">
          <span class="date-time">{{appointment.appointmentDateTime}}</span>
          <span class="event-type">{{appointment.eventTypeTitle}}</span>
          <span class="invitee-name">{{appointment.inviteeName}}</span>
          <span class="invitee-name">{{appointment.status}}</span>
          <span class="toggle-icon"
            [ngClass]="{'expanded': appointment.isExpanded, 'collapsed': !appointment.isExpanded}">+</span>
        </div>
        <div class="appointment-details"
          [ngClass]="{'expanded': appointment.isExpanded,'collapsed': !appointment.isExpanded}">
          <label>Cancellation Reason</label>
          <textarea [(ngModel)]="appointment.cancellationReason" placeholder="Reason"></textarea>
          <div class="actions">
            <button *ngIf="appointment.status==='active'" class="cancel-button"
              (click)="cancelAppointment(appointment)">Cancel</button>
            <button *ngIf="appointment.status==='active'" class="reschedule-button"
              (click)="rescheduleAppointment(appointment.id)">Reschedule</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ng-container>