/* Styling for the appointment header */
.appointment-header {
  cursor: pointer;
  background-color: #f4f4f4;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-time {
  font-weight: bold;
}

.toggle-icon {
  font-size: 20px;
  transition: transform 0.3s;
}

/* Styling for the appointment details */
.appointment-details {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

/* Styling for the cancellation reason textarea */
textarea {
  width: 100%;
  height: 60px;
  padding: 5px;
  border: 1px solid #ccc;
}

/* Styling for action buttons */
.actions {
  margin-top: 10px;
}

.cancel-button,
.reschedule-button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.reschedule-button {
  background-color: #5bc0de;
}

.data-table-header-into {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0 5px 0;

}

.appointment-list-container {}

.appointment-date-name-title {
  padding: 10px 0 3px 0;
}

.appointment-date-name-title h3 {
  color: var(--primary-color);
}

.appointment-data-container {}

.appointment-data-container:hover {}

.appointment-data-details-row {
  display: none;
  padding: 0 10px;
}

.appointment-data-header-row {
  display: flex;
  padding: 10px 0;
  border-top: 2px solid var(--secondary-color);
  cursor: pointer;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
}

.appointment-data-header-row:hover {
  background-color: var(--secondary-color);
}

.appointment-data-header-row .appointment-time {
  width: 200px;

}

.appointment-data-header-row .appointment-time.cancelled {
  text-decoration: line-through;
}

.no-data-found h1{
  display: flex;
  justify-content: center;
  color: lightgray;
}

.appointment-summary-container {
  width: 600px;
  margin-right: 50px;
}

.appointment-data-header-row .appointment-summary {}

.appointment-data-header-row .appointment-summary.cancelled {
  text-decoration: line-through;
}

.appointment-data-header-row .cancellation-summary {
  padding: 10px 0;
}

.cancellation-summary .cancelled-by {
  color: rgb(198, 114, 114);
}

/* Show the appointment details when expanded */
.appointment-data-details-row.expanded {
  display: block;
}

.appointment-details-row-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 10px 0;

}

.appointment-details-column-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 250px;
  padding: 10px 0;
}

.appointment-data-edit-actionbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.appointment-details-column-data {}

.appointmentDetails-body-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.appointmentDetails-body-item label {
  font-weight: bold;
  font-size: 500;
}

.appointmentDetails-body-item span {
  font-weight: normal;
  display: block;
}

.appointmentDetails-body-item .questionnaires {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.appointmentDetails-body-item .questionnaires label {
  font-weight: normal;
}

.appointmentDetails-body-item .questionnaires span {
  font-weight: normal;
  padding: 3px 15px 0;
}

.data-filter-wrapper {
  position: relative;
}

.date-range-selection-wrapper {
  border-radius: 6px;
  position: absolute;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: white;
  border: 1px solid var(--primary-color);
  z-index: 1;
}

.date-range-calendar-wrapper {
  display: flex;
  flex-direction: row;
}

.data-searchby-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 7px 10px;

}

.data-searchby-time-items {
  display: flex;
  gap: 10px;
}

.data-toolbar-items {
  display: flex;
  gap: 10px;
  align-items: center;

}

.data-filterby-items {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  border-top: 1px solid var(--primary-color);
}

.data-filterby-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.data-filterby-item .field-label {
  margin: 7px 0;
  font-weight: bold;
}

.data-filterby-item .filter-column-container {
  display: flex;
  align-items: center;
}

.filter-column-container a:hover {
  text-decoration: underline;
}

.data-filterby-item .overlay-opener {}

.is-open {
  display: block !important;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

.pager-links {
  display: flex;
  gap: 5px;
}

.pager-links button {
  padding: 5px 10px;
}

.overlay {
  top: 50px;
  left: 0;
  width: 350px;
  position: absolute;
  border-radius: 4px;
  justify-content: space-between;
  padding: 10px 20px ;
  background-color: white;
  border: 1px solid var(--primary-color);
  z-index: 1;
}

.overlay-content {}

.filter-by-checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  //margin-bottom: 10px;
  //cursor: pointer;
}

.arrow-icon {
  display: inline-flex;
  margin-left: 6px;
  font-size: 12px;
  transition: transform 0.1s;
  color: var(--primary-color);

}

.is-open-filter.arrow-icon {
  transform: rotate(180deg);
}