.text-ellipsis{
    max-width: 160px;
    min-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}
.selected_item{
    color:blue;
    border: 1px solid lightgray;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}
.schedule_list{
    margin: 16px 0 7px 0;
}

