<h1 class="page_title">Your available times</h1>
<span>you can create and manage existing schedules</span>
<div class="schedule_list">
    <button class="text-ellipsis" [ngClass]="item.id==selectedItem_Id?'selected_item':''"
        *ngFor="let item of listAvailability;let index=index" (click)="onSelectItem(item)">
        {{item.name}}
    </button>
    <button (click)="onShowAddNewModal()" class="text-ellipsis">+ New Availability</button>
</div>


<mm-modal id="new-availability-modal" title="New Availability" (cancelEvent)="onCancelAdd()"
    (confirmEvent)="onAddNew($event)">
    <!-- <div>
        <div class="form-group">
            <label for="shceduleName">Schedule Name</label>
            <div class="form-control">
                <input type="text" #name="ngModel" [(ngModel)]="newAvailabilityName">
                <div *ngIf=" name.invalid" class="invalid-feedback">
                    <div>Name is required</div>
                </div>
            </div>
        </div>
    </div> -->
    <form class="single-column" #frmAddAvailability="ngForm" (ngSubmit)="onSubmit(frmAddAvailability)">
        <div class="form-group">
            <label>Schedule Name</label>
            <input #name="ngModel" name="name" [ngClass]="frmAddAvailability.submitted && name.invalid?'is-invalid':''" class="form-control"
                type="text" [(ngModel)]="newAvailabilityName" required>
            <div *ngIf="frmAddAvailability.submitted && name.invalid" class="invalid-feedback">
                Schedule name is required.
            </div>
        </div>
    </form>
</mm-modal>