<div class="width-60p padding-left-10">
    <h3>Questions</h3>
    <div class="body">
        <div class="quetion-list-container">
            
            <div class="list-item-container" *ngFor="let item of listGeneralQuestion;let index=index">
                <div class="toolbar-pane" [draggable]="true" (dragstart)="onDragStartQuestion(index)"
                    (dragover)="onDragOverQuestion($event)" (drop)="onDropQuestion(index)">
                    <span class="serial-number">{{index+1}}</span> <i class="fa fa-light fa-arrows-up-down"></i>
                </div>
                <div class="content-pane" (click)="onEditQuestion(item,index)">
                    <div class="title-container">
                        <label for="name">{{item.name}}
                            <span *ngIf="item.requiredYN" style="color:red;">*</span>
                        </label>
                    </div>

                    <ng-container [ngSwitch]="true">
                        <ng-container *ngSwitchCase="item.questionType=='Text'">
                            <input type="text" style="pointer-events: none;">
                        </ng-container>
                        <ng-container *ngSwitchCase="item.questionType=='MultilineText'">
                            <textarea rows="2" style="pointer-events: none;">
                        </textarea>
                        </ng-container>
                        <ng-container *ngSwitchCase="item.questionType=='ComboBox'">
                            <select></select>
                        </ng-container>
                        <ng-container *ngSwitchCase="(item.questionType==='RadioButtons')||
                                                     (item.questionType==='CheckBoxes')">
                            <div class="question-item-options">

                                <span class="option-item" *ngFor="let option of item.options;let index=index;">
                                    <input type="{{item.questionType=='RadioButtons'?'radio':'checkbox'}}"
                                        placeholder="Other" style="pointer-events: none;"> {{option.text}}
                                </span>
                                <span class="option-item" *ngIf="item.otherOptionYN">
                                    <input type="text" placeholder="Other" style="pointer-events: none;">
                                </span>
                            </div>
                        </ng-container>

                    </ng-container>
                    <i class="fa fa-pen show-edit-pencil"></i>
                </div>
            </div>
        </div>

        <div class="margin-top-10 margin-bottom-10">
            <button class="rounded" (click)="onAddNewQuestion()">+Add Question</button>
        </div>
    </div>

    <hr>
    <div class="action-buttons-container center padding-top-10 padding-bottom-10">
        <button loading-indicator (click)="onCancelChanges()">
            <i class="fa fa-undo"></i>
            Cancel Changes
        </button>
        <button loading-indicator (click)="onSave()" class="primary">
            <i class="fa fa-save"></i>
            Save Changes
        </button>

    </div>
</div>


<app-my-modal [isVisible]="showQuestionDetailModal" modalTitle="Question details" (closeModal)="onCancelEditing()"
    modalWidth="400px">
    <ng-template #modalContent>
        <div class="question-configuration-form" *ngIf="selectedQuestion!=null">
            <form #fromQuestionDetails="ngForm">
                <div class="form-group">
                    <div class="title-container">
                        <span><label for="name">Name *</label></span>
                        <span>
                            <label for="required">
                                <input type="checkbox" id="required" name="requred"
                                    [(ngModel)]="selectedQuestion.requiredYN">
                                Requred</label>
                        </span>
                    </div>
                    <div class="form-control">
                        <textarea [maxlength]="255" autocomplete="off" type="text" id="name" name="name" #name="ngModel"
                            [ngClass]="{ 'is-invalid': submitted && name.errors }" [(ngModel)]="selectedQuestion.name"
                            class="form-control" required minlength="3"></textarea>

                        <div *ngIf="submitted && name.errors" class="invalid-feedback">
                            <div *ngIf="name.errors['required']">Question name is required</div>
                            <div *ngIf="name.errors['minlength']">Description at-least 3 charecters</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="questionType">Question Type</label>
                    <div class="form-control">
                        <select [(ngModel)]="selectedQuestion.questionType" id="questionType" name="questionType"
                            id="questionType">
                            <option value="Text">Text</option>
                            <option value="MultilineText">MultilineText</option>
                            <option value="ComboBox">ComboBox</option>
                            <option value="RadioButtons">RadioButtons</option>
                            <option value="CheckBoxes">CheckBoxes</option>
                        </select>
                    </div>
                </div>

                <ng-container [ngSwitch]="true">
                    <ng-container *ngSwitchCase="selectedQuestion?.questionType==null"></ng-container>
                    <ng-container *ngSwitchCase="selectedQuestion.questionType==='ComboBox' ||
                                                (selectedQuestion.questionType==='RadioButtons')||
                                                (selectedQuestion.questionType==='CheckBoxes')">

                        <div class="answer-set-list">
                            <span *ngIf="selectedQuestion.options.length==0" style="color:var(--accent-color);font-weight: 700;">No option found.</span>
                            <div class="answer-set-list__answer-set-container" id="{{index}}" [draggable]="true"
                                (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)"
                                (drop)="onDrop($event)"
                                *ngFor="let option of selectedQuestion.options;let index=index;">
                                <span tooltip="Change dispaying order drap item and drop to desire level." class="column_index"> <i style="cursor: move;"
                                        class="fa fa-light fa-arrows-up-down"></i></span>
                                <div class="answer-set-list__answer-set-container__input-container">
                                    <div class="form-control">
                                        <input type=" text" id="option-{{index}}" name="option-{{index}}"
                                            #option{{index}}="ngModel" (change)="onChangedOptionText(option)"
                                            (input)="onChangedOptionText(option)" autocomplete="off"
                                            placeholder="Answer {{index+1}}" [(ngModel)]="option.text" required>
                                        <div *ngIf="submitted && option.validationMessage" class="invalid-feedback">
                                            {{option.validationMessage}}</div>
                                    </div>
                                </div>
                                <span tooltip="Remove this option" class="remove_item" (click)="onRemoveOption(index)">
                                    <i style="cursor:pointer;"
                                        class="fa fa-times"></i></span>
                            </div>
                            <div class="title-container padding-top-10">
                                <button class="rounded" (click)="onAddOption($event)">+ Add option</button>
                                <label for="otherOptionYN" *ngIf="selectedQuestion.questionType!=='ComboBox'">
                                    <input type="checkbox" id="otherOptionYN" name="otherOptionYN"
                                        [(ngModel)]="selectedQuestion.otherOptionYN">
                                    Allow other option</label>
                            </div>
                        </div>

                    </ng-container>

                </ng-container>

            </form>
            <div *ngIf="selectedQuestionIndex>-1"
                class="action-buttons-container left padding-bottom-10 padding-top-10">
                <a class="danger" (click)="onRemoveQuestion($event)">
                    Remove this quesiton</a>
            </div>
            <hr>
            <div class="action-buttons-container center">
                <button class="width-100px" (click)="onCancelEditing()"><i class="fa fa-times"></i>Cancel</button>
                <button class="primary width-100px" (click)="onConfirmEditQuestion($event)">
                    <i class="fas fa-check"></i>
                    OK</button>
            </div>
        </div>
    </ng-template>
</app-my-modal>
