.quetion-list-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: relative;
}

.list-item-container {
  display: flex;
  flex-direction: row;
}

.list-item-container .toolbar-pane {
  width: 20px;
  padding-top: 10px;
}

.list-item-container .toolbar-pane span.serial-number {
  cursor: move;
  color: rgb(90, 90, 235);
  padding-right: 3px;
  font-size: 13px;
}

.list-item-container .toolbar-pane i.fa {
  font-size: 10px;
}

.list-item-container .content-pane {
  padding: 10px;
  position: relative;
  flex: 1;
  border-radius: 5px;

}

.list-item-container .content-pane:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.list-item-container .content-pane .show-edit-pencil {
  display: none;
}

.list-item-container .content-pane:hover .show-edit-pencil {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
}

.content-pane .title-container {
  font-weight: 700;
  padding-bottom: 3px;
}

.content-pane input[type="text"],
.content-pane textarea,
.content-pane select {
  width: 100%;
  pointer-events: none;
}

.question-item-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  /* left: 20px; */
}

.question-item-options .option-item {
  padding: 3px;
}

.question-configuration-form {}

.question-configuration-form .title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.answer-set-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  background-color: var(--gray-color);
}

.answer-set-list__answer-set-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  position: relative;
}
.answer-set-list__answer-set-container .column_index {
  position: absolute;
  left: 0px;
  top: 8px;
  font-weight: 700;
}
.answer-set-list__answer-set-container .remove_item {
  position: absolute;
  right: 0px;
  top: 8px;
  font-weight: 700;
}
.answer-set-list__answer-set-container__input-container {
  width: 93%;
  padding-left: 20px;
}

.answer-set-list__answer-set-container__input-container input {
  width: 100%;
}