<div class="page page-width-85p page">
    <div class="header">
        <h2>Event Questions</h2>
    </div>
    <div class="body">
        <div class="quetion-list-container">
            <div class="list-item-container">
                <div class="toolbar-pane">
                </div>
                <div class="content-pane">
                    <div *ngFor="let item of listSystemDefinedQuestion ;let index=index">
                        <div class="form-group">
                            <label for="name" class="form-control">{{item.name}}
                                <span *ngIf="item.requiredYN" style="color:red;">*</span>
                            </label>
                            <input class="form-cortrol" type="text" style="pointer-events: none;">
                        </div>
                    </div>
                    <!-- <i class="fa fa-pen show-edit-pencil"></i> -->
                </div>
            </div>
            <div class="list-item-container" *ngFor="let item of listGeneralQuestion;let index=index">
                <div class="toolbar-pane" [draggable]="true" (dragstart)="onDragStartQuestion(index)"
                    (dragover)="onDragOverQuestion($event)" (drop)="onDropQuestion(index)">
                    <span class="serial-number">{{index+1}}</span> <i class="fa fa-light fa-arrows-up-down"></i>
                </div>
                <div class="content-pane" (click)="onEditQuestion(item,index)">
                    <div class="title-container">
                        <label for="name">{{item.name}}
                            <span *ngIf="item.requiredYN" style="color:red;">*</span>
                        </label>
                    </div>

                    <ng-container [ngSwitch]="true">
                        <ng-container *ngSwitchCase="item.questionType=='Text'">
                            <input type="text" style="pointer-events: none;">
                        </ng-container>
                        <ng-container *ngSwitchCase="item.questionType=='MultilineText'">
                            <textarea id="w3review" name="w3review" rows="2">
                    </textarea>
                        </ng-container>
                        <ng-container *ngSwitchCase="item.questionType=='ComboBox'">
                            <select></select>
                        </ng-container>
                        <ng-container *ngSwitchCase="(item.questionType==='RadioButtons')||
                                                     (item.questionType==='CheckBoxes')">
                            <div class="question-item-options">

                                <span class="option-item" *ngFor="let option of item.options;let index=index;">
                                    {{option.text}}
                                </span>
                                <span class="option-item" *ngIf="item.otherOptionYN">
                                    <input type="text" placeholder="Other" style="pointer-events: none;">
                                </span>
                            </div>
                        </ng-container>

                    </ng-container>
                    <i class="fa fa-pen show-edit-pencil"></i>
                </div>
            </div>
        </div>

        <div>
            <button type="button" (click)="onAddNewQuestion()">+Question</button>
        </div>
    </div>
    <div class="footer-left">
        <button (click)="onCancelChanges()" class="btn btn-default">Cancel Changes</button>
        <button (click)="onSave()" class="btn btn-primary">Save</button>
    </div>
</div>
<mm-modal id="{{MODAL_ID_EVENT_QUESTION}}" title="Question Details" (cancelEvent)="onCancelEditing()"
    (confirmEvent)="onConfirmEditQuestion($event)">

    <div class="page" style="width: 360px;">
        <div *ngIf="selectedQuestion!=null" class="body modal">
            <form #fromQuestionDetails="ngForm">
                <div class="form-group">
                    <label for="name">Name *</label>
                    <div class="form-control">
                        <textarea [maxlength]="255" autocomplete="off" type="text" id="name" name="name" #name="ngModel"
                            [(ngModel)]="selectedQuestion.name" class="form-control" required></textarea>
                        <div *ngIf="name.touched && name.invalid" class="invalid-feedback">
                            <div>Question name is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="required">
                        <input type="checkbox" name="requred" [(ngModel)]="selectedQuestion.requiredYN"> Requred</label>
                </div>
                <div class="form-group">
                    <label for="questionType">Question Type</label>
                    <div class="form-control">
                        <select [(ngModel)]="selectedQuestion.questionType" id="questionType" name="questionType"
                            id="questionType">
                            <option value="Text">Text</option>
                            <option value="MultilineText">MultilineText</option>
                            <option value="ComboBox">ComboBox</option>
                            <option value="RadioButtons">RadioButtons</option>
                            <option value="CheckBoxes">CheckBoxes</option>
                        </select>
                    </div>
                </div>
                
                <ng-container [ngSwitch]="true">
                    <ng-container *ngSwitchCase="selectedQuestion?.questionType==null"></ng-container>
                    <ng-container *ngSwitchCase="selectedQuestion.questionType==='ComboBox' ||
                                                (selectedQuestion.questionType==='RadioButtons')||
                                                (selectedQuestion.questionType==='CheckBoxes')">
                                                
                        <div class="answer-set-list">
                            <div class="answer-set-list__answer-set-container" id="{{index}}" [draggable]="true"
                                (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)"
                                (drop)="onDrop($event)"
                                *ngFor="let option of selectedQuestion.options;let index=index;">
                                <span> <i style="cursor: move;" class="fa fa-light fa-arrows-up-down"></i></span>
                                <div class="answer-set-list__answer-set-container__input-container">
                                    <div class="form-control">
                                        <input type=" text" id="option-{{index}}" name="option-{{index}}"
                                            #option{{index}}="ngModel" (change)="onChangedOptionText(option)"
                                            (blur)="onChangedOptionText(option)" autocomplete="off"
                                            placeholder="Answer {{index+1}}" [(ngModel)]="option.text" required>
                                        <div *ngIf="option.validationMessage" class="invalid-feedback">
                                            {{option.validationMessage}}</div>
                                    </div>
                                </div>
                                <span (click)="onRemoveOption(index)"><i style="cursor:pointer;"
                                        class="fa fa-trash"></i></span>
                            </div>
                        </div>
                        <a href="javascript:void(0)" (click)="onAddOption($event)"><strong>+ Add more</strong></a>
                        <div class="form-group" *ngIf="selectedQuestion.questionType!=='ComboBox'">
                            <label for="otherOptionYN">
                                <input type="checkbox" name="otherOptionYN"
                                    [(ngModel)]="selectedQuestion.otherOptionYN">Allow other
                                option</label>
                        </div>
                    </ng-container>

                </ng-container>

            </form>
            <div class="form-group" style="color:#f69a9a">
                <span *ngIf="selectedQuestionIndex>-1"><i class="fa fa-trash"></i>

                    <a href="javascript:void(0)" 
                        (click)="onRemoveQuestion($event)"><strong>Delete Quetion</strong></a>
                </span>
            </div>
            <!-- <button *ngIf="selectedQuestionIndex>-1" (click)="onRemoveQuestion()">Delete Quetion</button> -->
        </div>
    </div>
</mm-modal>