<div class="calendar-control">
  <div class="header">
    <button class="month-navigation-button" [disabled]="isCurrentMonth()" (click)="onPreviousMonth()">
      &lt;
      <!-- <i class="fa-solid fa-angle-left"></i> -->
    </button>
    <h3>{{ selectedYearMonth }}</h3>
    <button class="month-navigation-button" (click)="onNextMonth()">
      &gt;
      <!-- <i class="fa-solid fa-angle-right"></i> -->
    </button>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th *ngFor="let day of weekDays; let index = index;">{{ day.substring(0, 3) }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of days_in_month | keyvalue; let index = index">
          <ng-container *ngFor="let weekDay of week.value">
            <td>
              <button [disabled]="weekDay.isDisabled" class="calendar-day-button" *ngIf="weekDay.dayNo > 0"
                [ngStyle]="{ 'cursor': weekDay.isDisabled ? 'auto' : 'pointer' }"
                [ngClass]="[weekDay.isSelected ? 'selected' : '']" (click)="onClickDay(weekDay)">
                {{ weekDay.dayNo }}
                <div [ngClass]="[weekDay.isCurrentDate ? 'current_date' : '']"></div>
              </button>
              <button 
              [ngStyle]="{ 'visibility':'hidden' }"
              class="calendar-day-button"  [disabled] *ngIf="weekDay.dayNo==0"></button>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>