/* Calendar Control Container */
.calendar-control {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  text-align: center;
  padding: 5px;
}

table th {
  font-weight: bold;
  background-color: #f0f0f0;
}

button.selected {
  background-color: var(--primary-color);
  color: white;
}



button.month-navigation-button {
  width: 30px;
  padding: 2px;
  margin: 1px;
  border-radius: 4px;
  background-color: var(--primary-color);
}

button.calendar-day-button {
  position: relative;
  width: 30px;
  padding: 2px;
  border-radius: 4px;
}

.current_date{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-top: 13px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transform: translate(-50%, -50%);

}