
<div class="calendar_control">
    <div class="header">
        <div>{{selectedYearMonth}}</div>
        <div>
            <button [disabled]="isCurrentMonth()" (click)="onPreviousMonth()"><i
                    class="fa-solid fa-angle-left"></i></button>
            <button (click)="onNextMonth()"><i class="fa-solid fa-angle-right"></i></button>
        </div>
    </div>
    <div>
        <div>
        </div>
        <table>
            <thead>
                <tr>
                    <th *ngFor="let day of weekDays; let index=index;">{{day.substring(0,3)}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let daysInSlot of days_in_month |keyvalue; let index=index">
                    <td *ngFor="let weekDay of  daysInSlot.value">
                        <button [disabled]="weekDay.isDisabled" class="day" *ngIf="weekDay.dayNo>0"
                            [ngClass]="[weekDay.isSelected?'selected':'']" (click)="onClickDay(weekDay)">
                            <span>{{weekDay.dayNo}}</span>
                            <div [ngClass]="[weekDay.isCurrentDate?'current_date':'']" ></div>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>